div(style={
  'width': '75%',
  'margin-left':'auto',
  'margin-right':'auto',
  'padding':'calc(var(--vru) / 2) 1rem',
  'background-color':'#ff4b33',
  'color':'#222'
})
  p.
    #[strong WARNING: This Atom is DEPRECATED]. #[br]
    This Atom will be removed. Use the
    #[a(href="https://github.com/chharvey/bangs/blob/v0.11.0/src/_margin.less#L74") Bangs class #[code .-mb-1]]
    instead.
p.
  This atom sets the bottom margin to one #[dfn vertical rhythm unit] (1vru),
  which is equal to the #[code.docs-code html] element&rsquo;s
  #[code.docs-code line-height] multiplied by
  #[code.docs-code 1rem].
pre.docs-pre.
  .-mb-1vru { margin-bottom: var(--vru); }
figure.docs-figure
  div.-mb-1vru Most typographical block elements like paragraphs and lists are automatically given this style.
  pre.docs-pre.
    &lt;div class="#[u -mb-1vru]"&gt;Most ...&lt;/div&gt;
