div(style={
  'width': '75%',
  'margin-left':'auto',
  'margin-right':'auto',
  'padding':'calc(var(--vru) / 2) 1rem',
  'background-color':'#ff4b33',
  'color':'#222'
})
  p.
    #[strong WARNING: This Atom is DEPRECATED]. #[br]
    This Atom will be removed. Use the
    #[a(href="https://github.com/chharvey/bangs/blob/v0.11.0/src/_padding.less#L46") Bangs class #[code .-pt-1]]
    instead.
p.
  This atom sets the top padding to 1#[b: abbr(title="vertical rhythm unit") vru].
pre.docs-pre.
  .-pt-1vru { padding-top: var(--vru); }
figure.docs-figure
  div.-pt-1vru Usually only Heading 1 is given this style, but it is also useful for moving an element down the page.
  pre.docs-pre.
    &lt;div class="#[u -pt-1vru]"&gt;Usually only ...&lt;/div&gt;
