p.
  The Permalink Component is added to the end of a heading in a documentation system, style guide,
  or pattern library. This Component is an internal link, and makes sections within a document easy to access.
p: small In fact, the Permalink Component is used in this very style guide!
figure.docs-figure
  section#section-title: h1
    | Section Title
    include ../../_views/_c-Permalink.view.pug
    +permalink('section-title')
  pre.docs-pre.
    &lt;section #[mark id="#[var #section-title]"]&gt;
      &lt;h1&gt;
        Section Title
        &lt;a class="#[u c-Permalink]  h-Inline  h-Hidden" #[mark href="#[var #section-title]"] #[mark aria-label="permalink"]&gt;&amp;sect;&lt;/a&gt;
      &lt;/h1&gt;
    &lt;/section&gt;
