p.
  The Clearfix Helper creates a line break after an element.
  This could be a container of floats, or it could simply be an inline list item.
  Use this as an alternative to the #[code.docs-code br] element.
figure.docs-figure
  div.h-Clearfix
    div(style="font-weight: 700; float:  left;") gravity
    div(style="font-weight: 700; float: right;") supernova
  div spacetime black hole singularity
  pre.docs-pre.
    &lt;div class="#[u h-Clearfix]"&gt;
      &lt;div style="float:  left;"&gt;gravity&lt;/div&gt;
      &lt;div style="float: right;"&gt;supernova&lt;/div&gt;
    &lt;/div&gt;
    &lt;div&gt;spacetime black hole singularity&lt;/div&gt;
  figcaption The Clearfix Helper is used in the classical sense.
figure.docs-figure
  ul
    li.h-Inline spacetime#{' '}
    li.h-Inline.h-Clearfix black hole#{' '}
    li.h-Inline singularity#{' '}
    li.h-Inline neutron star#{' '}
  pre.docs-pre.
    &lt;ul&gt;
      &lt;li class="o-Inline"&gt;spacetime &lt;/li&gt;
      &lt;li class="o-Inline  #[u h-Clearfix]"&gt;black hole &lt;/li&gt;
      &lt;li class="o-Inline"&gt;singularity &lt;/li&gt;
      &lt;li class="o-Inline"&gt;neutron star &lt;/li&gt;
    &lt;/ul&gt;
  figcaption.
    The Clearfix Helper creates a line break after the 2nd inline item.
figure.docs-figure
  p
    span.h-Clearfix The White House
    span.h-Clearfix 1600 Pennsylvania Ave NW
    span Washington, DC 20500
  pre.docs-pre.
    &lt;p&gt;
      &lt;span class="#[u h-Clearfix]"&gt;The White House&lt;/span&gt;
      &lt;span class="#[u h-Clearfix]"&gt;1600 Pennsylvania Ave NW&lt;/span&gt;
      &lt;span&gt;Washington, DC 20500&lt;/span&gt;
    &lt;/p&gt;
  figcaption.
    Instead of adding #[code.docs-code br] elements to create line breaks in
    postal addresses&mdash;the traditional approach&mdash;you may wrap each line of the address
    with spans using the Clearfix Helper. This approach may be easier if the spans are already present,
    for example, from microdata markup.
