p.
  The Hidden helper visually hides an element while keeping it accessible to non-visual
  media such as screen readers. A #[b skip link] is a common example.
figure.docs-figure
  a.h-Hidden(href="#0") skip to main content
  pre.docs-pre.
    &lt;a class="#[u h-Hidden]" href="#main"&gt;skip to main content&lt;/a&gt;
