p.
  A Flex Object is a container of flexible items arranged in one dimension,
  called the #[b main-axis].
  The #[b main-axis]&mdash;rows or columns, depending on #[code.docs-code flex-direction]&mdash;can
  wrap to the next, but the point where the wrap occurs is not controlled. (For two-dimensional control,
  see the #[a(href="#grid-object") Grid Object].)
  Each flex item has a #[b main size] of #[code.docs-code auto], depending on its contents.
  The flex items will grow or shrink together to fit into the allotted space.
  If overridden, the extra space (if any) will be distributed #[em between] the items.
figure.docs-figure
  ul.o-List.o-Flex
    li.o-List__Item.o-Flex__Item Burns &amp; McDonnell Engineering
    li.o-List__Item.o-Flex__Item DIS-TRAN Steel, LLC
    li.o-List__Item.o-Flex__Item EDM International
  pre.docs-pre.
    &lt;ul class="o-List  #[u o-Flex]"&gt;
      &lt;li class="o-List__Item  #[u o-Flex__Item]"&gt;Burns &amp; McDonnell Engineering&lt;/li&gt;
      &lt;li class="o-List__Item  #[u o-Flex__Item]"&gt;DIS-TRAN Steel, LLC&lt;/li&gt;
      ...
    &lt;/ul&gt;
  figcaption.
    A Flex Object with extra space.
figure.docs-figure
  ul.o-List.o-Flex
    li.o-List__Item.o-Flex__Item Burns &amp; McDonnell Engineering
    li.o-List__Item.o-Flex__Item DIS-TRAN Steel, LLC
    li.o-List__Item.o-Flex__Item EDM International
    li.o-List__Item.o-Flex__Item Electrical Consultants, Inc.
    li.o-List__Item.o-Flex__Item Fabrimet Inc.
    li.o-List__Item.o-Flex__Item Falcon Steel Company
    li.o-List__Item.o-Flex__Item Sabre-FWT
    li.o-List__Item.o-Flex__Item HDR
    li.o-List__Item.o-Flex__Item Mitas Energy
    li.o-List__Item.o-Flex__Item Power Consulting Associates, LLC
    li.o-List__Item.o-Flex__Item Power Line Systems, Inc.
    li.o-List__Item.o-Flex__Item Quanta Services
    li.o-List__Item.o-Flex__Item ReliaPOLE Inspection Services
  pre.docs-pre.
    &lt;ul class="o-List  #[u o-Flex]"&gt;
      &lt;li class="o-List__Item  #[u o-Flex__Item]"&gt;Burns &amp; McDonnell Engineering&lt;/li&gt;
      &lt;li class="o-List__Item  #[u o-Flex__Item]"&gt;DIS-TRAN Steel, LLC&lt;/li&gt;
      ...
    &lt;/ul&gt;
  figcaption.
    A Flex Object with not enough space.
figure.docs-figure
  ul.o-List.o-Flex(style="flex-wrap: wrap;")
    li.o-List__Item.o-Flex__Item Burns &amp; McDonnell Engineering
    li.o-List__Item.o-Flex__Item DIS-TRAN Steel, LLC
    li.o-List__Item.o-Flex__Item EDM International
    li.o-List__Item.o-Flex__Item Electrical Consultants, Inc.
    li.o-List__Item.o-Flex__Item Fabrimet Inc.
    li.o-List__Item.o-Flex__Item Falcon Steel Company
    li.o-List__Item.o-Flex__Item Sabre-FWT
    li.o-List__Item.o-Flex__Item HDR
    li.o-List__Item.o-Flex__Item Mitas Energy
    li.o-List__Item.o-Flex__Item Power Consulting Associates, LLC
    li.o-List__Item.o-Flex__Item Power Line Systems, Inc.
    li.o-List__Item.o-Flex__Item Quanta Services
    li.o-List__Item.o-Flex__Item ReliaPOLE Inspection Services
  pre.docs-pre.
    &lt;ul class="o-List  #[u o-Flex]"&gt;
      &lt;li class="o-List__Item  #[u o-Flex__Item]"&gt;Burns &amp; McDonnell Engineering&lt;/li&gt;
      &lt;li class="o-List__Item  #[u o-Flex__Item]"&gt;DIS-TRAN Steel, LLC&lt;/li&gt;
      ...
    &lt;/ul&gt;
  figcaption.
    A Flex Object with wrapping enabled.
