div(style={
  'width': '75%',
  'margin-left':'auto',
  'margin-right':'auto',
  'padding':'calc(var(--vru) / 2) 1rem',
  'background-color':'#ff4b33',
  'color':'#222'
})
  p.
    #[strong WARNING: This Object is DEPRECATED]. #[br]
    The Grid Object will be repurposed in version 6, with the new
    #[a(href="https://www.w3.org/TR/css-grid-1/") CSS Grid specifications].
    If you use #[code.docs-code .o-Grid] in your code, it will no longer work with
    Flexbox-related properties after #[cite v6.0.0]. You can prepare for this change by updating
    your codebase and modifying this object. This is what it will look like:
  pre.docs-pre.
    .o-Grid {
      display: grid;
      grid-template-columns: 1fr;
    }
p.
  The Grid Object is similar to the Flex Object except that it can be extended
  to two dimensions.
  It has the structure of a list in that all items share the same container
  (unlike tables where cells might not share the same row), while at the same time
  appearing like a table with rows and columns.
p.
  The Grid Object has one #[b column] at #[code.docs-code 1fr], unless overridden.
  Using media queries, you can achieve a flexible and responsive table effect,
  adjusting the number of #[b columns] and #[b rows] based on screen size.
figure.docs-figure
  ul.o-List.o-Grid
    li.o-List__Item.o-Grid__Item Burns &amp; McDonnell Engineering
    li.o-List__Item.o-Grid__Item DIS-TRAN Steel, LLC
    li.o-List__Item.o-Grid__Item EDM International
    li.o-List__Item.o-Grid__Item Electrical Consultants, Inc.
    li.o-List__Item.o-Grid__Item Fabrimet Inc.
    li.o-List__Item.o-Grid__Item Falcon Steel Company
    li.o-List__Item.o-Grid__Item Sabre-FWT
    li.o-List__Item.o-Grid__Item HDR
    li.o-List__Item.o-Grid__Item Mitas Energy
    li.o-List__Item.o-Grid__Item Power Consulting Associates, LLC
    li.o-List__Item.o-Grid__Item Power Line Systems, Inc.
    li.o-List__Item.o-Grid__Item Quanta Services
    li.o-List__Item.o-Grid__Item ReliaPOLE Inspection Services
    li.o-List__Item.o-Grid__Item Sabre-FWT
    li.o-List__Item.o-Grid__Item SAE Towers
    li.o-List__Item.o-Grid__Item TAPP Steel Poles
    li.o-List__Item.o-Grid__Item Trinity Meyer Utility Structures
    li.o-List__Item.o-Grid__Item TRC Engineers
    li.o-List__Item.o-Grid__Item Underground Devices
    li.o-List__Item.o-Grid__Item Valmont Newmark
  pre.docs-pre.
    &lt;ul class="o-List  #[u o-Grid]"&gt;
      &lt;li class="o-List__Item  #[u o-Grid__Item]"&gt;Burns &amp; McDonnell Engineering&lt;/li&gt;
      &lt;li class="o-List__Item  #[u o-Grid__Item]"&gt;DIS-TRAN Steel, LLC&lt;/li&gt;
      ...
    &lt;/ul&gt;
