/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
    xmeter
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*================================*\
    docs.less
\*================================*/
.docs-body {
  background-image: url('https://chharvey.github.io/core/images/crossgrid-lined.svg');
  background-position: left top;
  background-size: 1px 24px;
  background-repeat: repeat;
}
.docs-main {
  margin: 0 1rem 1.5rem;
}
.docs-pre,
.docs-code {
  background-color: #333;
  color: #ccc;
  border-radius: 0.25rem;
}
.docs-pre u,
.docs-code u {
  color: #6c6;
}
.docs-pre,
.docs-figure {
  padding: 0.75rem 0.5rem;
}
.docs-code {
  padding: 2px 4px;
}
.docs-figure {
  position: relative;
  margin-left: 1rem;
  margin-right: 1rem;
  border-width: 1px;
  margin-top: -2px;
  border-style: solid;
  border-color: #ddd;
  border-radius: 0.5rem;
  background-color: #eee;
  overflow: auto;
}
.docs-figure > figcaption {
  font-style: italic;
}
.docs-form {
  background: #fff;
}
