
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
    xmeter
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*================================*\
    docs.less
\*================================*/
@import (reference) url('../../src/__settings.less');
@import (reference) url('../../src/__tool.module.borders.less');


// Stylesheet for Xmeter documentation files.


body {
  background-image: url('https://chharvey.github.io/core/images/crossgrid-lined.svg');
  background-size: 1px 24px;
  background-repeat: repeat;
  background-position: left top;
}
.x-code, .x-pre {
  background-color: #333;
  color: #ccc;
  border-radius: 0.25rem;
  u { color: #6c6; } // good contrast ratio
}
.x-code {
  padding: 2px 4px;
}
.x-pre {
  padding: (0.5*@g-vru) 0.5rem;
}
.x-figure {
  margin-left: 1rem;
  margin-right: 1rem;
  padding: (0.5*@g-vru) 0.5rem;
  .border-vert(all; 1px);
  border-style: solid;
  border-color: #ddd;
  border-radius: 0.5rem;
  position: relative;
  background-color: #eee;
  & > figcaption {
    font-style: italic;
  }
}
.x-form {
  background: #fff;
}
