
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
    xmeter
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*================================*\
    docs.less
\*================================*/
@import (reference) url('../../src/__settings.less');
@import (reference) url('../../src/__tool.module.borders.less');


// Stylesheet for Xmeter documentation files.


.docs-body {
  background-image: url('https://chharvey.github.io/core/images/crossgrid-lined.svg');
  background-position: left top;
  background-size: 1px 24px;
  background-repeat: repeat;
}
.docs-pre,
.docs-code {
  background-color: #333;
  color: #ccc;
  border-radius: 0.25rem;
  u { color: #6c6; } // override bad contrast ratio
}
.docs-pre,
.docs-figure {
  padding: (0.5*@g-vru) 0.5rem;
}
.docs-code {
  padding: 2px 4px;
}
.docs-figure {
  margin-left: 1rem;
  margin-right: 1rem;
  .border-vert(all; 1px);
  border-style: solid;
  border-color: #ddd;
  border-radius: 0.5rem;
  position: relative;
  background-color: #eee;
  & > figcaption {
    font-style: italic;
  }
}
.docs-form {
  background: #fff;
}


.docs-_fragid {
  display: inline;
  line-height: 0;
  margin-left: 1rem;
  font-weight: 100;
  &::before {
    content: '\00a7';
  }
}
h1, h2, h3, h4, h5, h6 {
  &:not(:hover) > .docs-_fragid {
    visibility: hidden;
  }
}
