doctype html
html(lang="en")
  head
    title Xmeter index page
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    main
      h1 Xmeter
      p: a(href="docs/") Go to Docs
    script(src="app.js")
