
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
    reset.less
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


// This is a reset stylesheet similar to Eric Meyer’s reset.css.
// It strips all elements of all browser-default styles so that everything looks
// exactly the same.
// It does *not* account for vertical rhythm. That is taken care of in the
// `base` stylesheets.
// This stylesheet may be used independently of xmeter, though xmeter.css
// builds on top of it.
//
///////////////////////////////////////////////////////////////////////////////

body {
  text-align: left;
  background: #fff;
  color: #000;
}

body,
h1, h2, h3, h4, h5, h6,
p, figure, blockquote, pre,
ol, ul, dl,
fieldset {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font: inherit;
}
hr {
  margin: 0;
}
address {
  font: inherit;
}
pre {
  font: inherit;
  white-space: inherit;
}
ol, ul {
  padding: 0;
  list-style: none;
}
dd {
  margin: 0;
}
table {
  text-align: left; // fix browser bug
}
caption,
th {
  text-align: inherit;
}
th, td {
  padding: 0;
}
th {
  font: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}
em, strong, i, small,
dfn, b, var, cite, sup, sub,
code, kbd, samp {
  font: inherit;
}
mark {
  background: transparent;
  color: inherit;
}
u, s, ins, del {
  text-decoration: none;
}
q {
  quotes: none;
}
sup, sub {
  vertical-align: inherit;
}
