
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
    reset.less
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@import (reference) url('src/__settings.less');
@import (reference) url('src/__tool.fallback.box-sizing.less');


// This is a reset stylesheet similar to Eric Meyer’s reset.css.
// It strips all elements of all browser-default styles so that everything looks
// exactly the same.
// This stylesheet may be used independently of xmeter, though xmeter.css
// builds on top of it.
//
// I decided not to npm install Eric Meyer’s reset.css because I’ve applied some fixes.
//
///////////////////////////////////////////////////////////////////////////////


* {
  &,
  &::before,
  &::after {
    // list all properties and, if inherited, `inherit`; otherwise, their initial values.
    // the inherited properties will be defined in `body` and trickle down.
    #XMETER .box-sizing(border-box);
    width: auto;
    padding: 0;
    margin: 0;

    border: 0 solid;
    outline: none;
    box-shadow: none;
    background: transparent;
    overflow: visible;
    opacity: 1;

    text-decoration: none;
    text-shadow: none;
    text-overflow: clip;

    @media print {
      // use this selector to set print styles for ALL elements
      box-shadow: none;
      background: transparent;
      text-shadow: none;
    }
  }
}
* {
  &,
  &::before,
  &::after {
    // list all properties and, if inherited, `inherit`; otherwise, their initial values.
    // the inherited properties will be defined in `body` and trickle down.
    vertical-align: inherit;

    font: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    text-align: inherit;
    text-indent: inherit;
    white-space: inherit;
    overflow-wrap: inherit;

    visibility: inherit;

    text-rendering: inherit;
    text-transform: inherit;
    list-style: inherit;
    quotes: inherit;
    color: inherit;
  }
}
// From Eric Meyer’s `reset.css`
* {
  &::before,
  &::after {
    content: ''; // fallback
    content: none;
  }
}

// [1] addresses support for `rem` units (otherwise these would be in `body` selector)
html {
  #XMETER .VARS();
  font-size: @xmeter_font_size;     // [1]
  line-height: @xmeter_line_height; // [1]
}
// From Nicolas Gallagher’s `normalize.css`
// [2] Set default font family to sans-serif. (normalize.css)
// [3] Prevent iOS and IE text size adjust after device orientation change, without disabling user zoom. (normalize.css)
html {
  font-family: sans-serif;          // [2]
  -webkit-text-size-adjust: 100%;   // [3]
      -ms-text-size-adjust: 100%;   // [3]
}

body {
  // list all properties inherited in * selector, and their initial values
  vertical-align: baseline;

  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: sans-serif;
  letter-spacing: normal;
  word-spacing: normal;
  text-align: left;
  text-indent: 0;
  white-space: normal;
  overflow-wrap: normal;

  background: #fff;
  visibility: visible;

  text-rendering: optimizeSpeed;
  text-transform: none;
  list-style: none;
  quotes: none;
  color: #000;
}

// From Eric Meyer’s `reset.css`
// From Nicolas Gallagher’s `normalize.css`
body,
section, article, aside, nav,
main, header, footer,
h1, h2, h3, h4, h5, h6,
hr, address,
div, p, figure, figcaption, blockquote, pre,
ol, ul, dl, dt, dd,
hgroup, summary, details, menu {
  display: block;
}

li {
  display: list-item;
}

table {
  display: table;
}
// From Eric Meyer’s `reset.css`
// From Nicolas Gallagher’s `normalize.css`
table {
  border-spacing: 0; // fallback
  border-collapse: collapse;
}
caption  { display: table-caption     ; }
colgroup { display: table-column-group; }
col      { display: table-column      ; }
thead    { display: table-header-group; }
tbody    { display: table-row-group   ; }
tfoot    { display: table-footer-group; }
tr       { display: table-row         ; }
th       { display: table-cell        ; }
td       { display: table-cell        ; }

// From Nicolas Gallagher’s `normalize.css`
// [1] Correct `inline-block` display not defined in IE 8/9.
audio, canvas, progress, video {
  display: inline-block; // [1]
}

// From Nicolas Gallagher’s `normalize.css`
// [1] Prevent modern browsers from displaying `audio` without controls.
// [2] Remove excess height in iOS 5 devices.
audio:not([controls]) {
  display: none; // [1]
  height: 0;     // [2]
}

// From Nicolas Gallagher’s `normalize.css`
// [1] Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
template {
  display: none; // [1]
}

// From Nicolas Gallagher’s `normalize.css`
// [1] Address `[hidden]` styling not present in IE 8/9/10.
[hidden] {
  display: none; // [1]
}

// Font sizes for text-level elements should be in units of `em` instead of `rem` because
// they should scale with their parents.
// Also, inline elements should not affect vertical rhythm, thus line-heights are zero.
span, a, br,
em, strong, i, mark, u, small, s,
dfn, b, var, q, cite, sup, sub,
abbr, data, time, code, kbd, samp {
  display: inline;
  line-height: 0;
}

// From Nicolas Gallagher’s `normalize.css`
// [1] Remove the gray background color from active links in IE 10.
// [2] Improve readability of focused elements when they are also in an active/hover state.
a {
  background-color: transparent; // [1]
  &:hover, &:active {
    outline: 0; // [2]
  }
}
