extends base-tpl.jade

block append vars
  - project = 'Xmeter'
  - classnames.code = 'x-c-Code'
  - classnames.figure = 'x-c-Fig'

block style
  style.
    body {
      background-image: url('https://chharvey.github.io/core/images/crossgrid-lined.svg');
      background-size: 1px 24px;
      background-repeat: repeat;
      background-position: left bottom;
    }
    .x-c-Code {
      padding: 1px 2px;
      border-radius: 3px;
      background-color: #f4f8f0;
      color: #008080;
    }
    .x-c-Fig {
      margin-left: 1rem;
      margin-right: 1rem;
      padding: 0.5rem;
      border: 1px solid #e5eaef;
      border-radius: 8px;
      position: relative;
      background: rgba(245, 250, 255, 0.5);
    }
