
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
    xmeter
    Version: 4.2.0
    Licence: MIT
    Repo   : https://github.com/chharvey/xmeter.git
    Home   : https://github.com/chharvey/xmeter/blob/gh-pages/README.md
    Author : https://chharvey.github.io/
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


@import (inline) url('node_modules/resetcss/reset.css');
@import (inline) url('node_modules/normalize.css/normalize.css');


/*================================*\
    xmeter.less
\*================================*/


/**
 * CONTENTS
 *
 * reset.css (above).............strips all elements of all browser-default styles
 * normalize.css (above).........(@necolas) addresses browser discrepancies
 *
 * BASE
 * generic........................styles that apply to `html` and very far-reaching groups of elements
 * sections.......................secioning content and section-related elements
 * grouping.......................grouping content
 * ....paras..........................paragraphs, block-level textual elements
 * ....lists..........................ordered, unordered, dictionary
 * ....tables.........................tables
 * text...........................text-level and inline elements
 * ....links..........................inline hyperlinks
 * ....stress.........................text outstanding from surrounding prose
 * ....doctext........................documentation elements
 * ....data...........................machine- or human-readable data
 * embedded.......................images and other media
 * forms..........................form elements
 * interactive....................interactive elements
 *
 * OBJECTS
 * Block..........................a simple block object
 * Inline.........................a simple inline object
 * ListBare.......................plain, unstyled, blocky list
 * Flex...........................one-dimensional flexible box
 * Grid...........................two-dimensional flexible box
 */

///////////////////////////////////////////////////////////////////////////////


@import (inline) url('build/_base.generic.css');
@import (inline) url('build/_base.sections.css');
@import (inline) url('build/_base.grouping.css');
@import (inline) url('build/_base.grouping.paras.css');
@import (inline) url('build/_base.grouping.lists.css');
@import (inline) url('build/_base.grouping.tables.css');
@import (inline) url('build/_base.text.css');
@import (inline) url('build/_base.text.links.css');
@import (inline) url('build/_base.text.stress.css');
@import (inline) url('build/_base.text.doctext.css');
@import (inline) url('build/_base.text.data.css');
@import (inline) url('build/_base.embedded.css');
@import (inline) url('build/_base.forms.css');
@import (inline) url('build/_base.interactive.css');
@import (inline) url('build/_obj.Block.css');
@import (inline) url('build/_obj.Inline.css');
@import (inline) url('build/_obj.ListBare.css');
@import (inline) url('build/_obj.Flex.css');
@import (inline) url('build/_obj.Grid.css');
