/*###############*\
    xmeter.less
\*###############*/
/*##################*\
    _settings.less
\*##################*/
/*#################*\
    _flexbox.less
\*#################*/
/*++++++++++++++*\
    #FLEXBOXES
\*++++++++++++++*/
/*---------------*\
    #Containers
\*---------------*/
/*----------*\
    #Items
\*----------*/
/*##################*\
    _clearfix.less
\*##################*/
/*################*\
    _rotate.less
\*################*/
/*##################*\
    _gradient.less
\*##################*/
/*####################*\
    _transition.less
\*####################*/
/*#################*\
    _spacing.less
\*#################*/
/*#################*\
    _borders.less
\*#################*/
/*################*\
    _delims.less
\*################*/
/*##################*\
    _fontsize.less
\*##################*/
/*################*\
    _sprite.less
\*################*/
/*#####################*\
    _translucent.less
\*#####################*/
/*#################*\
    _generic.less
\*#################*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
pre,
dd {
  margin: 0;
}
li,
dt,
dd {
  box-sizing: border-box;
}
body,
main,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
pre,
ol,
ul,
dl,
table {
  /*++++++++++++++++++++*\
      #VERTICAL RHYTHM
  \*++++++++++++++++++++*/
  margin-bottom: 1.5rem;
}
dd + dt {
  /*++++++++++++++++++++*\
      #VERTICAL RHYTHM
  \*++++++++++++++++++++*/
  margin-top: 1.5rem;
}
li > ol,
dt > ol,
dd > ol,
li > ul,
dt > ul,
dd > ul,
li > dl,
dt > dl,
dd > dl {
  margin-bottom: 0;
}
main,
figure,
blockquote,
pre {
  margin-left: 1rem;
  margin-right: 1rem;
}
@media print {
  body,
  main {
    margin: 0;
  }
}
/*##################*\
    _sections.less
\*##################*/
/*+++++++++++++*\
    #SECTIONS
\*+++++++++++++*/
html {
  /*++++++++++++++++++++*\
      #VERTICAL RHYTHM
  \*++++++++++++++++++++*/
  font-size: 100%;
  line-height: 1.5;
}
h1 {
  /*++++++++++++++++++++*\
      #VERTICAL RHYTHM
  \*++++++++++++++++++++*/
  font-size: 2rem;
  line-height: 0.75;
  padding-top: 1.5rem;
}
h2 {
  /*++++++++++++++++++++*\
      #VERTICAL RHYTHM
  \*++++++++++++++++++++*/
  font-size: 1.5rem;
  line-height: 1;
}
h3 {
  /*++++++++++++++++++++*\
      #VERTICAL RHYTHM
  \*++++++++++++++++++++*/
  font-size: 1.25rem;
  line-height: 1.2;
}
h4 {
  /*++++++++++++++++++++*\
      #VERTICAL RHYTHM
  \*++++++++++++++++++++*/
  font-size: 1rem;
  line-height: 1.5;
}
h5 {
  /*++++++++++++++++++++*\
      #VERTICAL RHYTHM
  \*++++++++++++++++++++*/
  font-size: 0.75rem;
  line-height: 2;
}
h6 {
  /*++++++++++++++++++++*\
      #VERTICAL RHYTHM
  \*++++++++++++++++++++*/
  font-size: 0.625rem;
  line-height: 2.4;
}
address {
  font-style: inherit;
}
/*##################*\
    _grouping.less
\*##################*/
/*@GROUPING CONTENT*/
hr {
  display: none;
}
/*@Paragraph-Like Content*/
/*@Lists*/
ol,
ul {
  padding: 0 0 0 4rem;
}
li > ol,
li > ul,
dt > ol,
dt > ul,
dd > ol,
dd > ul {
  padding-left: 2rem;
}
dt {
  font-weight: bold;
}
/*@Tables*/
table {
  max-width: 100%;
}
th {
  text-align: center;
}
/*##############*\
    _text.less
\*##############*/
/*+++++++++++++++++++++++++*\
    #TEXT-LEVEL SEMANTICS
\*+++++++++++++++++++++++++*/
span,
a,
br,
em,
strong,
i,
mark,
u,
small,
s,
dfn,
b,
var,
q,
cite,
sup,
sub,
data,
abbr,
time,
code,
kbd,
samp {
  line-height: 0;
}
a:not([href]) {
  opacity: 0.5;
}
br {
  display: none;
}
address > br {
  display: inline;
}
/*------------------*\
    #Stressed Text
\*------------------*/
i:not([lang]) {
  quotes: '\201c' '\201d';
}
i:not([lang])::before {
  content: open-quote;
}
i:not([lang])::after {
  content: close-quote;
}
u {
  color: #080;
}
small {
  font-size: 0.75em;
}
s {
  color: #e00;
}
/*----------------------------*\
    #Documentation and Edits
\*----------------------------*/
ins {
  background: #a6f3a6;
}
del {
  background: #f8cbcb;
}
dfn {
  font-style: inherit;
  font-weight: bold;
}
sup,
sub {
  font-size: 0.75em;
}
/*----------------------------*\
    #Machine-Readable Data
\*----------------------------*/
abbr[title] {
  cursor: help;
  border-bottom: 0;
}
code,
kbd,
samp {
  font-size: 0.75em;
  white-space: nowrap;
}
code code,
kbd code,
samp code,
code kbd,
kbd kbd,
samp kbd,
code samp,
kbd samp,
samp samp {
  font-size: inherit;
}
/*###############*\
    _forms.less
\*###############*/
/*++++++++++*\
    #FORMS
\*++++++++++*/
/*##################*\
    _embedded.less
\*##################*/
/*+++++++++++++++++++++*\
    #EMBEDDED CONTENT
\*+++++++++++++++++++++*/
img {
  max-width: 100%;
  font-style: italic;
  vertical-align: middle;
}
