/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
    xmeter
    Version: 4.3.1
    Licence: MIT
    Repo   : https://github.com/chharvey/xmeter.git
    Home   : https://github.com/chharvey/xmeter#readme
    Author : Chris Harvey <chrisharvey2pi@gmail.com> (https://chharvey.github.io/)
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
    resetcss
    Version: 1.0.3
    Licence: MIT
    Repo   : https://github.com/chharvey/resetcss.git
    Home   : https://github.com/chharvey/resetcss#readme
    Author : Chris Harvey <chrisharvey2pi@gmail.com> (https://chharvey.github.io/)
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*================================*\
    reset.less
\*================================*/
body {
  text-align: left;
  background: #fff;
  color: #000;
}
sup,
sub {
  vertical-align: inherit;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
figure,
blockquote,
pre,
ol,
ul,
dl,
dd,
fieldset {
  margin: 0;
}
ol,
ul,
th,
td,
legend {
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
address,
pre,
th,
em,
strong,
i,
small,
dfn,
b,
var,
cite,
sup,
sub,
code,
kbd,
samp {
  font: inherit;
}
caption,
th {
  text-align: inherit;
}
pre {
  white-space: inherit;
}
mark {
  background: transparent;
}
a,
u,
s,
ins,
del {
  text-decoration: none;
}
ol,
ul {
  list-style: none;
}
q {
  quotes: none;
}
a,
mark {
  color: inherit;
}

/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */

article,
aside,
details, /* 1 */
figcaption,
figure,
footer,
header,
main, /* 2 */
menu,
nav,
section,
summary { /* 1 */
  display: block;
}

/**
 * Add the correct display in IE 9-.
 */

audio,
canvas,
progress,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */

template, /* 1 */
[hidden] {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */

a:active,
a:hover {
  outline-width: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/* Forms
   ========================================================================== */

/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
select,
textarea {
  font: inherit; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Restore the font weight unset by the previous rule.
 */

optgroup {
  font-weight: bold;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*================================*\
    xmeter.less
\*================================*/
/**
  * CONTENTS
  *
  * reset.css (above).............strips all elements of all browser-default styles
  * normalize.css (above).........(@necolas) addresses browser discrepancies
  *
  * BASE
  * generic.......................styles that apply to `html` and very far-reaching groups of elements
  * sections......................secioning content and section-related elements
  * grouping......................grouping content
  * ....paras.........................paragraphs, block-level textual elements
  * ....lists.........................ordered, unordered, dictionary
  * ....tables........................tables
  * text..........................text-level and inline elements
  * ....links.........................inline hyperlinks
  * ....stress........................text outstanding from surrounding prose
  * ....doctext.......................documentation elements
  * ....data..........................machine- or human-readable data
  * embedded......................images and other media
  * forms.........................form elements
  * interactive...................interactive elements
  */
/*################################*\
    xmeter  |  _base.generic.less
\*################################*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 0 solid;
  content: ' ';
  content: '';
  content: none;
}
@media print {
  *,
  *::before,
  *::after {
    background: transparent !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
}
html {
  font-size: 100%;
  font-size: 16px;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
figure,
blockquote,
ol,
ul,
dl,
table,
fieldset {
  margin-bottom: 1.5rem;
}
h1 {
  padding-top: 1.5rem;
}
span,
br,
em,
strong,
i,
mark,
u,
small,
s,
dfn,
b,
abbr,
var,
q,
cite,
sup,
sub,
data,
time,
code,
kbd,
samp {
  line-height: 0;
}
a,
ins,
del {
  display: contents;
}

/*################################*\
    xmeter  |  _base.sections.less
\*################################*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
h1 {
  font-size: 2em;
  line-height: 0.75;
}
h2 {
  font-size: 1.5em;
  line-height: 1;
}
h3 {
  font-size: 1.25em;
  line-height: 1.2;
}
h4 {
  font-size: 1em;
  line-height: 1.5;
}
h5 {
  font-size: 0.875em;
  line-height: 1.71428571;
}
h6 {
  font-size: 0.75em;
  line-height: 2;
}
h1 {
  margin-top: 0;
}

/*################################*\
    xmeter  |  _base.grouping.less
\*################################*/
hr {
  display: none;
}

/*################################*\
    xmeter  |  _base.grouping.paras.less
\*################################*/
pre {
  font-size: 0.75em;
  line-height: 2;
  text-align: left;
  text-indent: 0;
  white-space: pre;
  overflow: auto;
}
figure {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

/*################################*\
    xmeter  |  _base.grouping.lists.less
\*################################*/
li > ol,
li > ul,
li > dl,
dt > ol,
dt > ul,
dt > dl,
dd > ol,
dd > ul,
dd > dl {
  margin-bottom: 0;
}
ol,
ul {
  padding: 0 0 0 4rem;
}
li > ol,
li > ul,
dt > ol,
dt > ul,
dd > ol,
dd > ul {
  padding-left: 2rem;
}
ol {
  list-style-type: decimal;
}
ul {
  list-style-type: disc;
}

/*################################*\
    xmeter  |  _base.grouping.tables.less
\*################################*/
table {
  max-width: 100%;
  border-collapse: collapse;
  text-align: left;
}
caption {
  text-align: center;
}
thead,
tfoot {
  vertical-align: bottom;
}
tbody {
  vertical-align: top;
}
th {
  font-weight: 700;
  text-align: center;
}

/*################################*\
    xmeter  |  _base.text.less
\*################################*/

/*################################*\
    xmeter  |  _base.text.links.less
\*################################*/
a {
  color: #00e;
}
@media screen {
  a:not([href]) {
    opacity: 0.5;
  }
}

/*################################*\
    xmeter  |  _base.text.stress.less
\*################################*/
em {
  font-style: italic;
}
strong {
  font-weight: 700;
}
i {
  font-style: italic;
}
u {
  text-decoration: underline;
  color: #080;
}
small {
  font-size: 0.75em;
}
s {
  text-decoration: line-through;
  color: #b00;
}

/*################################*\
    xmeter  |  _base.text.doctext.less
\*################################*/
ins {
  background: #a6f3a6;
}
del {
  background: #f8cbcb;
}
dfn {
  font-style: inherit;
  font-weight: 700;
}
b {
  font-weight: 700;
}
abbr[title] {
  cursor: help;
  text-decoration: none;
}
var {
  font-style: italic;
}
q {
  quotes: '\201c' '\201d';
  quotes: initial;
}
q::before {
  content: open-quote;
}
q::after {
  content: close-quote;
}
cite {
  font-style: italic;
}
sup,
sub {
  font-size: 0.75em;
}

/*################################*\
    xmeter  |  _base.text.data.less
\*################################*/
code,
kbd,
samp {
  font-size: 0.75em;
  white-space: nowrap;
}
code code,
kbd code,
samp code,
code kbd,
kbd kbd,
samp kbd,
code samp,
kbd samp,
samp samp {
  font-size: inherit;
}

/*################################*\
    xmeter  |  _base.embedded.less
\*################################*/
img {
  width: auto;
  height: auto;
  max-width: 100%;
  font-style: italic;
  vertical-align: middle;
}

/*################################*\
    xmeter  |  _base.forms.less
\*################################*/
fieldset,
input,
select,
textarea,
button {
  border-width: 1px;
  margin-top: -2px;
  border-style: solid;
  border-color: #c0c0c0;
  border-color: rgba(0, 0, 0, 0.25);
}
fieldset {
  padding: 0 1rem;
  margin-left: 0;
  margin-right: 0;
}
input,
select,
textarea,
button {
  padding: 0 0.25rem;
}
input:not([type="button"]):not([type="reset"]):not([type="submit"]),
textarea {
  font-size: 0.75em;
  line-height: 2;
}
textarea {
  width: 30rem;
  height: 9rem;
  line-height: 1.5;
}
input[type="button"],
input[type="reset"],
input[type="submit"],
button {
  background-color: #c0c0c0;
  background-color: rgba(0, 0, 0, 0.25);
}
input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*################################*\
    xmeter  |  _base.interactive.less
\*################################*/

