
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
    xmeter
    Version: 5.3.2
    Licence: MIT
    Repo   : https://github.com/chharvey/xmeter.git
    Home   : https://github.com/chharvey/xmeter#readme
    Author : Chris Harvey <chrisharvey2pi@gmail.com> (https://chharvey.github.io/)
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


@import (inline) url('styles/reset.css');
@import (inline) url('node_modules/normalize.css/normalize.css');


/*================================*\
    xmeter.less
\*================================*/


/**
 * CONTENTS
 *
 * reset.css (above).............strips all elements of all browser-default styles
 * normalize.css (above).........(@necolas) addresses browser discrepancies
 *
 * BASE
 * _base.css......................unclassed html elements
 *
 * OBJECTS
 * List...........................plain, unstyled, blocky list
 * Flex...........................one-dimensional flexible box
 * Grid...........................two-dimensional flexible box
 *
 * HELPERS
 * Block..........................gives a blocky look
 * Inline.........................a simple inline object
 * Clearfix.......................creates a line break and clears floats
 *
 * ATOMS
 * mb.............................margin-bottom
 * pt.............................padding-top
 * fz.............................font-size
 */

///////////////////////////////////////////////////////////////////////////////


@import url('styles/_base.less');
@import url('styles/_o-List.less');
@import url('styles/_o-Flex.less');
@import url('styles/_o-Grid.less');
@import url('styles/_h-Block.less');
@import url('styles/_h-Inline.less');
@import url('styles/_h-Clearfix.less');
@import url('styles/_h-Hidden.less');
@import url('styles/_-mb.less');
@import url('styles/_-pt.less');
@import url('styles/_-fz.less');
