
/*################################*\
    xmeter  |  _-fz.less
\*################################*/
@import (reference) url('./__settings.less');
@import (reference) url('./__tool.fontsize.less');


// font-size
//
// The font-size Atoms set the font-size property.
//
// These are two groups of Atoms: the first group simply sets the font size of an element,
// and the second group uses the <code>.font-size-el()</code> mixin, which also affects line-height
// for maintaining vertical rhythm. See <a>__tool.fontsize.less</a> for the mixin code.
//
// All font sizes are available in <a>/src/__settings.less</a>.
// <header><dl>
//   <dt>author</dt>  <dd>Chris Harvey</dd>
//   <dt>updated</dt> <dd><time>2017-02-09</time></dd>
// </dl></header>
//
// Markup:
// <ul>
//   <li><u class="-fz-peta">universe</u> (6.00)</li>
//   <li><u class="-fz-tera">galaxy  </u> (4.00)</li>
//   <li><u class="-fz-giga">star    </u> (3.00)</li>
//   <li><u class="-fz-mega">planet  </u> (2.00)</li>
//   <li><u class="-fz-kilo">asteroid</u> (1.50)</li>
//   <li><u class="-fz-norm">molecule</u> (1.00)</li>
//   <li><u class="-fz-mill">atom    </u> (0.75)</li>
//   <li><u class="-fz-micr">quark   </u> (0.50)</li>
// </ul>
// <ul style="overflow: auto; white-space: nowrap;">
//   <li class="-fz-el-peta">universe (6.00/1.000)</li>
//   <li class="-fz-el-tera">galaxy   (4.00/1.125)</li>
//   <li class="-fz-el-giga">star     (3.00/1.000)</li>
//   <li class="-fz-el-mega">planet   (2.00/1.500)</li>
//   <li class="-fz-el-kilo">asteroid (1.50/1.000)</li>
//   <li class="-fz-el-norm">molecule (1.00/1.500)</li>
//   <li class="-fz-el-mill">atom     (0.75/2.000)</li>
//   <li class="-fz-el-micr">quark    (0.50/3.000)</li>
// </ul>
//
// Weight: 1
//
// Styleguide Atoms.font-size


.-fz-peta { font-size: (@g-font-size-peta * 1em) !important; }
.-fz-tera { font-size: (@g-font-size-tera * 1em) !important; }
.-fz-giga { font-size: (@g-font-size-giga * 1em) !important; }
.-fz-mega { font-size: (@g-font-size-mega * 1em) !important; }
.-fz-kilo { font-size: (@g-font-size-kilo * 1em) !important; }
.-fz-norm { font-size: (@g-font-size-norm * 1em) !important; }
.-fz-mill { font-size: (@g-font-size-mill * 1em) !important; }
.-fz-micr { font-size: (@g-font-size-micr * 1em) !important; }


.-fz-el-peta { .font-size-el(@g-font-size-peta; 4) !important; }
.-fz-el-tera { .font-size-el(@g-font-size-tera; 3) !important; }
.-fz-el-giga { .font-size-el(@g-font-size-giga; 2) !important; }
.-fz-el-mega { .font-size-el(@g-font-size-mega; 2) !important; }
.-fz-el-kilo { .font-size-el(@g-font-size-kilo   ) !important; }
.-fz-el-norm { .font-size-el(@g-font-size-norm   ) !important; }
.-fz-el-mill { .font-size-el(@g-font-size-mill   ) !important; }
.-fz-el-micr { .font-size-el(@g-font-size-micr   ) !important; }
@media (-ms-high-contrast: none), (-ms-high-contrast: active) {
  @line-height: 1.5; // equivalent to custom prop `--line-height`
  .-fz-el-peta { line-height: (@line-height / (@g-font-size-peta / 4)) !important; }
  .-fz-el-tera { line-height: (@line-height / (@g-font-size-tera / 3)) !important; }
  .-fz-el-giga { line-height: (@line-height / (@g-font-size-giga / 2)) !important; }
  .-fz-el-mega { line-height: (@line-height / (@g-font-size-mega / 2)) !important; }
  .-fz-el-kilo { line-height: (@line-height /  @g-font-size-kilo     ) !important; }
  .-fz-el-norm { line-height: (@line-height /  @g-font-size-norm     ) !important; }
  .-fz-el-mill { line-height: (@line-height /  @g-font-size-mill     ) !important; }
  .-fz-el-micr { line-height: (@line-height /  @g-font-size-micr     ) !important; }
}
