
/*################################*\
    xmeter  |  _-fz.less
\*################################*/
@import (reference) url('./__settings.less');
@import (reference) url('./__tool.fontsize.less');


// font-size
//
// The font-size Atoms set the font-size property.
// There are eight Atoms available, each corresponding to a font-size given by the project’s
// [type scale](./section-principles.html).
// You can see the source for the font-size settings in <a>/src/__settings.less</a>.
//
// CHANGED-DEPRECATED: Atoms starting with `.-fz-el-*` are deprecated and will be removed in v7.
// Instead, you should use the `.h-FontSize` helper and define the `--font-scale` custom property on your own.
//
// <header><dl>
//   <dt>author</dt>  <dd>Chris Harvey</dd>
//   <dt>updated</dt> <dd><time>2018-03-26</time></dd>
// </dl></header>
//
// Markup:
// <ul>
//   <li class="-fz-micr">Quark    (0.625)</li>
//   <li class="-fz-mill">Atom     (0.75) </li>
//   <li class="-fz-norm">Molecule (1.00) </li>
//   <li class="-fz-kilo">Asteroid (1.25) </li>
//   <li class="-fz-mega">Planet   (1.75) </li>
//   <li class="-fz-giga">Star     (2.25) </li>
//   <li class="-fz-tera">Galaxy   (3.00) </li>
//   <li class="-fz-peta">Universe (4.00) </li>
// </ul>
//
// Weight: 1
//
// Styleguide Atoms.font-size


.-fz-micr { --font-scale: @g-font-size-micr;              font-size: (@g-font-size-micr * 1em) !important; }
.-fz-mill { --font-scale: @g-font-size-mill;              font-size: (@g-font-size-mill * 1em) !important; }
.-fz-norm { --font-scale: @g-font-size-norm;              font-size: (@g-font-size-norm * 1em) !important; }
.-fz-kilo { --font-scale: @g-font-size-kilo;              font-size: (@g-font-size-kilo * 1em) !important; }
.-fz-mega { --font-scale: @g-font-size-mega; --tracks: 2; font-size: (@g-font-size-mega * 1em) !important; }
.-fz-giga { --font-scale: @g-font-size-giga; --tracks: 2; font-size: (@g-font-size-giga * 1em) !important; }
.-fz-tera { --font-scale: @g-font-size-tera; --tracks: 2; font-size: (@g-font-size-tera * 1em) !important; }
.-fz-peta { --font-scale: @g-font-size-peta; --tracks: 3; font-size: (@g-font-size-peta * 1em) !important; }


// CHANGED-DEPRECATED! Use inline styles or define your own stylesheets instead.
.-fz-el-micr { --font-scale: @g-font-size-micr !important;                         }
.-fz-el-mill { --font-scale: @g-font-size-mill !important;                         }
.-fz-el-norm { --font-scale: @g-font-size-norm !important;                         }
.-fz-el-kilo { --font-scale: @g-font-size-kilo !important;                         }
.-fz-el-mega { --font-scale: @g-font-size-mega !important; --tracks: 2 !important; }
.-fz-el-giga { --font-scale: @g-font-size-giga !important; --tracks: 2 !important; }
.-fz-el-tera { --font-scale: @g-font-size-tera !important; --tracks: 2 !important; }
.-fz-el-peta { --font-scale: @g-font-size-peta !important; --tracks: 3 !important; }
@media (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .-fz-el-micr { .font-size-el(@g-font-size-micr;  ) !important; }
  .-fz-el-mill { .font-size-el(@g-font-size-mill;  ) !important; }
  .-fz-el-norm { .font-size-el(@g-font-size-norm;  ) !important; }
  .-fz-el-kilo { .font-size-el(@g-font-size-kilo;  ) !important; }
  .-fz-el-mega { .font-size-el(@g-font-size-mega; 2) !important; }
  .-fz-el-giga { .font-size-el(@g-font-size-giga; 2) !important; }
  .-fz-el-tera { .font-size-el(@g-font-size-tera; 2) !important; }
  .-fz-el-peta { .font-size-el(@g-font-size-peta; 3) !important; }
}
