
/*################################*\
    xmeter  |  _h-Block.less
\*################################*/


// Block
//
// The Block Helper displays an element as a block, with an inherited line-height to maintain vertical rhythm.
// <header><dl>
//   <dt>author</dt>  <dd>Chris Harvey</dd>
//   <dt>updated</dt> <dd><time>2017-02-09</time></dd>
// </dl></header>
//
// Markup:
// <p>Albert Einstein was made famous by his equation
//   <b class="h-Block" style="text-align:center;">E = mc<sup>2</sup></b>
//   which explains the relationship between energy and mass.</p>
//
// Weight: 1
//
// Styleguide Helpers.Block
.h-Block {
  display: block;
  line-height: inherit; // HACK fallback for `unset`
  line-height: unset;
}

@media screen  and (min-width: 30em) { .h-Block-sK { .h-Block; } }
@media screen  and (min-width: 45em) { .h-Block-sM { .h-Block; } }
@media screen  and (min-width: 60em) { .h-Block-sG { .h-Block; } }
@media screen  and (min-width: 75em) { .h-Block-sT { .h-Block; } }
@media screen  and (min-width: 90em) { .h-Block-sP { .h-Block; } }
@media not all and (min-width: 30em) { .h-Block-nK { .h-Block; } }
@media not all and (min-width: 45em) { .h-Block-nM { .h-Block; } }
@media not all and (min-width: 60em) { .h-Block-nG { .h-Block; } }
@media not all and (min-width: 75em) { .h-Block-nT { .h-Block; } }
@media not all and (min-width: 90em) { .h-Block-nP { .h-Block; } }
