doctype html
html(lang="en")
  block vars
    - var page_name = 'Base Typography'
    - var project_names = []
    - var classnames = {}
  head
    title= project_names.concat(page_name).reduceRight(function (a, b) { return a + ' | ' + b })
    meta(charset="utf-8")
    meta(name="description" content="A test of bare, unclassed elements.")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    block style
      link(rel="stylesheet" href="../xmeter.min.css")
  body
    block body
      main
        include include/_main-content.jade
