extends base-tpl.jade

block append vars
  - project_names = ['Xmeter']
  - classnames.code = 'x-c-Code'
  - classnames.figure = 'x-c-Fig'

block append style
  link(rel="stylesheet" href="styles/doc.css")
