doctype html
html(lang="en")
  - var project_name = 'Xmeter'
  - var page_title = 'Base Typography'
  head
    title #{page_title} | #{project_name}
    meta(charset="utf-8")
    meta(name="description" content="A test of bare, unclassed elements.")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="../xmeter.min.css")
    link(rel="stylesheet" href="styles/doc.css")
  body
    main
      include include/_main-content.jade
      +main-content({
        main_heading: project_name + ' — ' + page_title
      , classnames: {
          figure: 'x-c-Fig'
        , code  : 'x-c-Code'
        }
      })
    script.
      document.querySelectorAll('#forms > form')[0].style.backgroundColor = '#fff'
