/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
    xmeter
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*================================*\
    docs.less
\*================================*/
[aria-current="page"] {
  font-weight: bold;
}
.docs-main {
  margin: 0 1rem var(--lh);
  margin: 0 1rem 1lh;
}
.docs-code {
  padding: 2px 4px;
  background-color: #333;
  color: #ccc;
  border-radius: 0.25rem;
}
.docs-figure {
  position: relative;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: calc(0.5 * var(--lh)) 0.5rem;
  padding: 0.5lh 0.5rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 0 0 1px #ddd;
  box-shadow: 0 0 0 1px #ddd;
  background-color: #eee;
  overflow: auto;
}
.docs-form {
  background-color: #ddd;
}
body > a:last-of-type {
  position: fixed;
  bottom: var(--lh);
  bottom: 1lh;
  right: 1rem;
}
@media screen and (min-width: 60em) {
  body {
    width: 75%;
  }
  #contents {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 25%;
    overflow: auto;
  }
}
