
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
    xmeter
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*================================*\
    docs.less
\*================================*/
@import (reference) url('../../src/__settings.less');
@import (reference) url('../../src/__tool.borders.less');


// Stylesheet for Xmeter documentation files.


[aria-current="page"] {
  font-weight: bold;
}

.docs-body {
  background-image: url('https://chharvey.github.io/core/images/crossgrid-lined.svg');
  background-position: left top;
  background-size: 1px 24px;
  background-repeat: repeat;
}
.docs-main {
  margin: 0 1rem var(--vru);
}
.docs-pre,
.docs-code {
  background-color: #333;
  color: #ccc;
  border-radius: 0.25rem;
  u { color: #6c6; } // override bad contrast ratio
  strong { color: #eee; }
}
.docs-pre,
.docs-figure {
  padding: calc(~'0.5 * var(--vru)') 0.5rem;
}
.docs-code {
  padding: 2px 4px;
}
.docs-figure {
  position: relative;
  margin-left: 1rem;
  margin-right: 1rem;
  /*
  .border-vert(all; 1px);
  border-style: solid;
  border-color: #ddd;
  */ box-shadow: 0 0 0 1px #ddd; // HACK vertical border hack
  border-radius: 0.5rem;
  background-color: #eee;
  overflow: auto;
  & > figcaption {
    font-style: italic;
  }
}
.docs-form {
  background-color: #fff;
}

body > a:last-of-type {
  // TODO use a class instead
  position: fixed;
  bottom: var(--vru);
  right: 1rem;
}

@media screen and (min-width: 60em) {
  body {
    width: 75%;
  }
  #contents {
    position: fixed;
    top: 0; bottom: 0;
    right: 0;
    width: 25%;
    overflow: auto;
  }
}
