
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
    xmeter
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*================================*\
    kss-custom.less
\*================================*/


/* Custom stylesheet for KSS documentation files. */

#kssref-principles-typescale {
  table {
    margin-top: calc(2 * var(--lh));
  }
  td {
    padding: calc(0.5 * var(--lh)) 1rem;
  }
}

#kssref-helpers-ruled {
  .kss-modifier__example p {
    text-indent: 2rem;
  }
}
