
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
    xmeter
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*================================*\
    kss-custom.less
\*================================*/
@import (reference) url('../../css/src/xmeter.less');


/* Custom stylesheet for KSS documentation files. */

#kssref-principles-typescale {
  table {
    margin-top: calc(2 * var(--lh));
  }
  td {
    padding: calc(0.5 * var(--lh)) 1rem;
  }
}

#kssref-helpers-ruled {
  .kss-modifier__example p {
    text-indent: 2rem;
  }
}

#kssref-atoms-row-gap {
	.kss-modifier__example ul {
		.o-List;
		.o-Grid;
	}
}

#kssref-atoms-column-gap {
	.kss-modifier__example ul {
		.o-List;
		.o-Grid;
		grid-template-columns: 1fr 1fr;
	}
}
