p.
  This atom sets the top padding to 1#[b: abbr(title="vertical rhythm unit") vru].
pre.docs-pre.
  .-pt-1vru { padding-top: var(--vru); }
figure.docs-figure
  div.-pt-1vru Usually only Heading 1 is given this style, but it is also useful for moving an element down the page.
  pre.docs-pre.
    &lt;div class="#[u -pt-1vru]"&gt;Usually only ...&lt;/div&gt;
