p.
  This atom sets the bottom margin to one #[dfn vertical rhythm unit] (1vru),
  which is equal to the #[code.docs-code html] element&rsquo;s
  #[code.docs-code line-height] multiplied by
  #[code.docs-code 1rem].
pre.docs-pre.
  @g-vru: @g-line_height * 1rem;
  .-mb-1vru { margin-bottom: @g-vru; }
figure.docs-figure
  div.-mb-1vru Most typographical block elements like paragraphs and lists are automatically given this style.
  pre.docs-pre.
    &lt;div class="#[u -mb-1vru]"&gt;Most ...&lt;/div&gt;
