- var classname = classname || {}
section#fallback-tools
  h2 Fallback Tools
  section#box-sizing
    h3 box-sizing
    pre.docs-pre.
      .box-sizing(@box: content-box) {
        -webkit-box-sizing: @box;
           -moz-box-sizing: @box;
                box-sizing: @box;
      }
  section#flexbox-tools
    h3 The Flexbox Tools
  section#transform
    h3 transform
  section#transform-origin
    h3 transform-origin
  section#column-count
    h3 column-count
  section#column-width
    h3 column-width
  section#filter
    h3 filter
section#module-tools
  h2 Module Tools
  section#borders
    h3 borders
  section#border-radius
    h3 border-radius
  section#font-size
    h3 font-size
  section#vertspacing
    h3 vertspacing
  section#delims
    h3 delims
  section#sprite
    h3 sprite
