include ../_classes/Page.class.jade
include ../_classes/Styleguide.class.jade
include ../_classes/Xmeter.class.jade

-
  //- var
  //-     Page = require('../_classes/Page.class.js')
  //-   , Styleguide = require('../_classes/Styleguide.class.js')
  //-   , Xmeter = require('../_classes/Xmeter.class.js')

mixin doctoc(args)
  -
    var page    = args.page    || new Page()
      , classes = args.classes || {}
      , depth   = +args.depth  || 0
  ol(class=classes.listclasses)
    each item in page.getPagesAll()
      unless item.isHidden()
        li(class=classes.itemclasses)
          a(class=classes.linkclasses
            href=((item.getURL().slice(0,1) === '#') ? page.getURL().concat(item.getURL()) : item.getURL())
          )= item.getName()
          if item.getDescription()
            = ': ' + item.getDescription()
          if item.getPagesAll().length && depth > 0
            +doctoc({page: item, classes: (classes.sub || {}), depth: depth-1})
