include ../_classes/Page.class.jade
include ../_classes/Styleguide.class.jade
include ../_classes/Xmeter.class.jade

mixin doctoc(args)
  //- NOTE parameter validation
  -
    var pages   = args.pages   || []
      , classes = args.classes || {}
      , depth   = +args.depth  || 0
  ol(class=classes.listclasses)
    each item in pages
      unless item.isHidden()
        li(class=classes.itemclasses)
          a(class=classes.linkclasses href=item.getURL())= item.getName()
          if item.getDescription()
            = ': ' + item.getDescription()
          if item.getPagesAll().length && depth > 0
            +doctoc({pages: item.getPagesAll(), classes: (classes.sub || {}), depth: depth-1})
