include class/_Xmeter.class.jade

mixin doctoc(args)
  -
    var pages     = args.pages     || []
    var class_obj = args.class_obj || {}
    var depth     = +args.depth    || 0
  ol(class=class_obj.listclasses)
    each item in pages
      unless item.is_hidden
        li(class=class_obj.itemclasses)
          a(class=class_obj.linkclasses href=item.url)= item.name
          if item.description
            = ': ' + item.description
          if item.sub && depth > 0
            +doctoc({pages: item.sub, class_obj: (class_obj.sub || {}), depth: depth-1})
