mixin docs_delims(classname)
  - var classname = classname || {}
  section#delims
    h3 delims
    pre.docs-pre.
      @import (reference) url('/node_modules/xmeter/src/__tool.module.delims.less');
      .your-class {
        .delims(#[var @strings]:#[strong @none]);
        .parens();            // ( )
        .brackets();          // [ ]
        .braces();            // { }
        .angles();            // &lt; &gt;
        .apos();              // &apos; &apos;
        .quot();              // &quot; &quot;
        .quotes-single();     // &lsquo; &rsquo;
        .quotes-double();     // &ldquo; &rdquo;
        .guillemets-single(); // &lsaquo; &rsaquo;
        .guillemets-double(); // &laquo; &raquo;
      }
