mixin docs_sprite(classname)
  - var classname = classname || {}
  section#sprite
    h3 sprite
    pre(class=classname.pre).
      @import (reference) url('/node_modules/xmeter/src/__tool.module.delims.less');
      .your-class {
        .sprite([horizontal | vertical]; #[var @integer]; #[var @length]; #[var @length]);
      }
