mixin docs_fontSizingTools(classname)
  - var classname = classname || {}
  section#font-sizing-tools
    h3 Font Sizing Tools
    pre.docs-pre.
      @import (reference) url('/node_modules/xmeter/src/__tool.module.fontsize.less');
      .your-module {
        .font-size-mod(#[var @number]:#[strong 1]);
        .your-element {
          .font-size-el(#[var @number]:#[strong 1]; #[var @integer]:#[strong 1]; #[var @number]:#[strong @g-line_height]);
        }
      }
