mixin docs_block(classname)
  - classname = classname || {}
  section#block
    h2 Block
    p.
      The Block Helper creates a blocky look,
      with an inherited line-height to maintain vertical rhythm.
    figure(class=classname.figure)
      p.
        Albert Einstein was made famous by his equation
        #[b.h-Block(style="text-align:center;") E = mc#[sup 2]]
        which explains the relationship between energy and mass.
      pre(class=classname.pre).
        &lt;p&gt;... his famous equation
          &lt;b class="#[u h-Block]" style="text-align:center;"&gt;E = mc&lt;sup&gt;2&lt/sup&gt;&lt;/b&gt;
          which explains ...&lt;/p&gt;
