/*################################*\
    _grouping.less
\*################################*/
/*++++++++++++++++++++++++++++++++*\
    #PARAGRAPHS
\*++++++++++++++++++++++++++++++++*/
pre {
  text-align: left;
  text-indent: 0;
}
/*++++++++++++++++++++++++++++++++*\
    #LISTS
\*++++++++++++++++++++++++++++++++*/
ol,
ul {
  padding: 0 0 0 4rem;
}
li > ol,
li > ul,
dt > ol,
dt > ul,
dd > ol,
dd > ul {
  padding-left: 2rem;
}
dt {
  font-weight: bold;
}
/*++++++++++++++++++++++++++++++++*\
    #TABLES
\*++++++++++++++++++++++++++++++++*/
caption {
  text-align: center;
}
thead,
tfoot {
  vertical-align: bottom;
}
tbody {
  vertical-align: top;
}
th {
  font-weight: bold;
  text-align: center;
}
