doctype html
html(lang="en")
  head
    include includes/_data.jade
    block vars
      -
        var project_name = 'Xmeter'
        var page = {}
    title= page.name + ' | ' + project_name
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="A demo of Xmeter styles.")
    link(rel="stylesheet" href="../xmeter.css")
    link(rel="stylesheet" href="styles/docs.css")
  body.docs-body
    main
      block main
        header
          h1= project_name + ' — ' + page.name
          block mainIntro
            p= page.description
          nav#table-contents
            h2 Table of Contents
            block toc
              +doctoc({pages: page.sub, depth: Infinity})
    unless page === Xmeter.getPage('index.html')
      footer: nav
        h1 Sitemap
        +doctoc({pages: Xmeter.PAGES})
    script(src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous")
    script.
      function toURL(string) {
        return encodeURIComponent(string.toLowerCase().replace(/[\W]+/g, '-'))
      }
      $('h1, h2, h3, h4, h5, h6').each(function () {
        if (!$(this).parents('figure').length) {
          var id = '_' + toURL($(this).text())
          $(this).append($('<a>').addClass('docs-_fragid').attr('id', id).attr('href', '#' + id))
        }
      })
