extends _docs.tpl.jade

block append vars
  - var page = Xmeter.DOCS.find('atom.html')

block append main
  +newSection(2, Xmeter.DOCS.find('atom.html#margin-bottom'))
    include _includes/atom.margin-bottom.docs.jade
  +newSection(2, Xmeter.DOCS.find('atom.html#padding-top'))
    include _includes/atom.padding-top.docs.jade
  +newSection(2, Xmeter.DOCS.find('atom.html#font-size'))
    include _includes/atom.font-size.docs.jade
