extends _docs.tpl.jade

block append vars
  - var page = Docs.DOCS.find('/docs/base.html')
  -
    var classname = {
      figure: 'docs-figure',
      pre   : 'docs-pre',
      code  : 'docs-code',
      form  : 'docs-form',
    }

block append scripts
  script(src="./js/base.js" defer="")

block append main
  include _includes/_base.pug
