doctype html
html(lang="en")
  head
    block vars
      - var project_name = 'Xmeter'
    title= page_title + ' | ' + project_name
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="A demo of Xmeter styles.")
    link(rel="stylesheet" href="../xmeter.css")
    link(rel="stylesheet" href="styles/docs.css")
  body
    main
      block main
    block scripts
