extends doc.tpl.jade

block append vars
  - var page = getPage('help.html')
  - var page_title = page.name
  -
    var classname = {
      figure : 'docs-figure'
    , pre    : 'docs-pre'
    , code   : 'docs-code'
    }

block main
  h1= project_name + ' — ' + page_title
  nav#table-contents
    h2 Table of Contents
    +libtoc({pages: page.sub, depth: Infinity})
  include includes/_content-help.jade
