extends _docs.tpl.jade

block append vars
  - var page = Xmeter.DOCS.getPage('help.html')

block append main
  include includes/_h-Block.docs.jade
  +docs_block(Xmeter.DOCS_CLASSES)
  include includes/_h-Inline.docs.jade
  +docs_inline(Xmeter.DOCS_CLASSES)
  include includes/_h-Clearfix.docs.jade
  +docs_clearfix(Xmeter.DOCS_CLASSES)
