extends _docs.tpl.jade

block append vars
  - var page = Xmeter.DOCS.find('help.html')

block append main
  +newSection(2, Xmeter.DOCS.find('help.html#block'))
    include includes/_h-Block.docs.jade
  +newSection(2, Xmeter.DOCS.find('help.html#inline'))
    include includes/_h-Inline.docs.jade
  +newSection(2, Xmeter.DOCS.find('help.html#cleafix'))
    include includes/_h-Clearfix.docs.jade
