extends _docs.tpl.jade

block append vars
  - var page = Xmeter.DOCS.find('/docs/index.html')

block toc
  nav#table-contents
    h2 Table of Contents
    +doctoc({pages: Xmeter.DOCS.findAll(), depth: Infinity})
