extends doc.tpl.jade

block append vars
  - var page_title = 'Objects'

block main
  h1= project_name + ' — ' + page_title
  nav#table-contents
    h2 Table of Contents
    ol
      li: a(href="#table-contents") Table of Contents
      li: a(href="#bare-list") The Bare List
      li: a(href="#flex-object") The Flex Object
      li: a(href="#grid-object") The Grid Object
  section#bare-list
    h2 The Bare List
    p.
      Use the Bare List object to remove the usual padding and list item markers accompanied by
      (un)ordered lists. The result is a list of items, each on its own line.
      Combine this class with other classes to create a variety of styles.
    figure.x-figure
      ul.o-ListBare
        li.o-ListBare__Item Burns &amp; McDonnell Engineering
        li.o-ListBare__Item DIS-TRAN Steel, LLC
        li.o-ListBare__Item EDM International
        li.o-ListBare__Item Electrical Consultants, Inc.
        li.o-ListBare__Item Fabrimet Inc.
        li.o-ListBare__Item Falcon Steel Company
      pre.x-pre.
        &lt;ul class="#[u o-ListBare]"&gt;
          &lt;li class="#[u o-ListBare__Item]"&gt;Burns &amp; McDonnell Engineering&lt;/li&gt;
          &lt;li class="#[u o-ListBare__Item]"&gt;DIS-TRAN Steel, LLC&lt;/li&gt;
          ...
        &lt;/ul&gt;
  section#flex-object
    h2 The Flex Object
    p.
      A Flex Object is simply a container of flexible items arranged in one dimension.
    figure.x-figure
      ul.o-ListBare.o-Flex
        li.o-Flex__Item Burns &amp; McDonnell Engineering
        li.o-Flex__Item DIS-TRAN Steel, LLC
        li.o-Flex__Item EDM International
      pre.x-pre.
        &lt;ul class="o-ListBare  #[u o-Flex]"&gt;
          &lt;li class="#[u o-Flex__Item]"&gt;Burns &amp; McDonnell Engineering&lt;/li&gt;
          &lt;li class="#[u o-Flex__Item]"&gt;DIS-TRAN Steel, LLC&lt;/li&gt;
          ...
        &lt;/ul&gt;
      figcaption.
        A Flex Object with extra space.
        The flex items have an equal #[b main size], and grow to fill the extra space.
        If overridden, the extra space will be distributed between the items.
    figure.x-figure
      ul.o-ListBare.o-Flex
        li.o-Flex__Item Burns &amp; McDonnell Engineering
        li.o-Flex__Item DIS-TRAN Steel, LLC
        li.o-Flex__Item EDM International
        li.o-Flex__Item Electrical Consultants, Inc.
        li.o-Flex__Item Fabrimet Inc.
        li.o-Flex__Item Falcon Steel Company
        li.o-Flex__Item Sabre-FWT
        li.o-Flex__Item HDR
        li.o-Flex__Item Mitas Energy
        li.o-Flex__Item Power Consulting Associates, LLC
        li.o-Flex__Item Power Line Systems, Inc.
        li.o-Flex__Item Quanta Services
        li.o-Flex__Item ReliaPOLE Inspection Services
      pre.x-pre.
        &lt;ul class="o-ListBare  #[u o-Flex]"&gt;
          &lt;li class="#[u o-Flex__Item]"&gt;Burns &amp; McDonnell Engineering&lt;/li&gt;
          &lt;li class="#[u o-Flex__Item]"&gt;DIS-TRAN Steel, LLC&lt;/li&gt;
          ...
        &lt;/ul&gt;
      figcaption.
        A Flex Object with not enough space.
        The flex items have an equal #[b main size] and shrink to fit in the alloted space.
  section#grid-object
    h2 The Grid Object
    p.
      The Grid Object is similar to the Flex Object except that it can be extended
      to two dimensions.
      It has the structure of a list in that all items share the same container
      (unlike tables where cells might not share the same row), while at the same time
      appearing like a table with rows and columns.
    p.
      By default, each item has a #[b main size] of 100%.
      This behavior can be overridden with the
      #[code.x-code flex] or
      #[code.x-code flex-basis] properties.
      Using media queries, you can achieve a flexible and responsive table effect,
      adjusting the number of #[b cross axes]&mdash;columns if
      #[code.x-code flex-direction: row;], or rows if
      #[code.x-code flex-direction: column;]&mdash;based on screen size.
      In order to appear like a table, all the items within
      a #[b cross axis] should have the same #[b main size].
    figure.x-figure
      ul.o-ListBare.o-Grid
        li.o-Grid__Item Burns &amp; McDonnell Engineering
        li.o-Grid__Item DIS-TRAN Steel, LLC
        li.o-Grid__Item EDM International
      pre.x-pre.
        &lt;ul class="o-ListBare  #[u o-Grid]"&gt;
          &lt;li class="#[u o-Grid__Item]"&gt;Burns &amp; McDonnell Engineering&lt;/li&gt;
          &lt;li class="#[u o-Grid__Item]"&gt;DIS-TRAN Steel, LLC&lt;/li&gt;
          ...
        &lt;/ul&gt;
      figcaption A Grid Object with extra space.
    figure.x-figure
      ul.o-ListBare.o-Grid
        li.o-Grid__Item Burns &amp; McDonnell Engineering
        li.o-Grid__Item DIS-TRAN Steel, LLC
        li.o-Grid__Item EDM International
        li.o-Grid__Item Electrical Consultants, Inc.
        li.o-Grid__Item Fabrimet Inc.
        li.o-Grid__Item Falcon Steel Company
        li.o-Grid__Item Sabre-FWT
        li.o-Grid__Item HDR
        li.o-Grid__Item Mitas Energy
        li.o-Grid__Item Power Consulting Associates, LLC
        li.o-Grid__Item Power Line Systems, Inc.
        li.o-Grid__Item Quanta Services
        li.o-Grid__Item ReliaPOLE Inspection Services
        li.o-Grid__Item Sabre-FWT
        li.o-Grid__Item SAE Towers
        li.o-Grid__Item TAPP Steel Poles
        li.o-Grid__Item Trinity Meyer Utility Structures
        li.o-Grid__Item TRC Engineers
        li.o-Grid__Item Underground Devices
        li.o-Grid__Item Valmont Newmark
      pre.x-pre.
        &lt;ul class="o-ListBare  #[u o-Grid]"&gt;
          &lt;li class="#[u o-Grid__Item]"&gt;Burns &amp; McDonnell Engineering&lt;/li&gt;
          &lt;li class="#[u o-Grid__Item]"&gt;DIS-TRAN Steel, LLC&lt;/li&gt;
          ...
        &lt;/ul&gt;
      figcaption A Grid Object with not enough space.
