extends _docs.tpl.jade

block append vars
  - var page = Docs.DOCS.find('/docs/obj.html')

block append main
  +newSection(2, Docs.DOCS.find('/docs/obj.html#list-object'))
    include _includes/_obj.list-object.jade
  +newSection(2, Docs.DOCS.find('/docs/obj.html#flex-object'))
    include _includes/_obj.flex-object.jade
  +newSection(2, Docs.DOCS.find('/docs/obj.html#grid-object'))
    include _includes/_obj.grid-object.jade
