extends _docs.tpl.jade

block append vars
  - var page = Xmeter.DOCS.getPage('obj.html')

block append main
  include includes/_o-List.docs.jade
  +docs_list(Xmeter.DOCS_CLASSES)
  include includes/_o-Flex.docs.jade
  +docs_flex(Xmeter.DOCS_CLASSES)
  include includes/_o-Grid.docs.jade
  +docs_grid(Xmeter.DOCS_CLASSES)
