




///////////////////////////////////////////////////////////////////////////////
// CHANGED: DEPRECATED. use **Autoprefixer** instead.
///////////////////////////////////////////////////////////////////////////////

/*################################*\
    xmeter  |  __fallback.align-items.less
\*################################*/


// Defines how item contents are aligned along the block/cross/column-axis.
// https://developer.mozilla.org/en-US/docs/Web/CSS/align-items
// https://www.w3.org/TR/css-align-3/
//
// ^param
// : @align - how items are aligned
// ^author
// : Chris Harvey
// ^updated
// : 2017-06-02
.align-items(@align: normal) {
    -webkit-box-align: @align;
       -ms-flex-align: @align;
      -ms-align-items: @align;
          align-items: @align;
}
