
/*################################*\
    xmeter  |  __fallback.align-content.less
\*################################*/


// Defines how space is distributed along the block/cross/column-axis.
// https://developer.mozilla.org/en-US/docs/Web/CSS/align-content
// https://www.w3.org/TR/css-align-3/
//
// ^param
// : @align - how content is aligned
// ^author
// : Chris Harvey
// ^updated
// : 2017-06-02
.align-content(@align: normal) {
     -ms-flex-line-pack: @align;
      -ms-align-content: @align;
          align-content: @align;
}
