///////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
///////--- CHANGED DEPRECATED! Use the `/css/src/` folder instead!  ---////////
///////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
@g-font-size-peta: 96/16; // 6.00 // lines: ceil(6.00/line-height) == 4
@g-font-size-tera: 64/16; // 4.00 // lines: ceil(4.00/line-height) == 3
@g-font-size-giga: 48/16; // 3.00 // lines: ceil(3.00/line-height) == 2
@g-font-size-mega: 32/16; // 2.00 // lines: ceil(2.00/line-height) == 2
@g-font-size-kilo: 24/16; // 1.50 // lines: ceil(1.50/line-height) == 1
@g-font-size-norm: 16/16; // 1.00 // lines: ceil(1.00/line-height) == 1
@g-font-size-mill: 12/16; // 0.75 // lines: ceil(0.75/line-height) == 1
@g-font-size-micr:  8/16; // 0.50 // lines: ceil(0.50/line-height) == 1
@g-font-size-h1: @g-font-size-giga;
@g-font-size-h2: @g-font-size-mega;
@g-font-size-h3: @g-font-size-kilo;
@g-font-size-h4: @g-font-size-norm;
@g-font-size-h5: @g-font-size-mill;
@g-font-size-h6: @g-font-size-micr;
