
/*################################*\
    xmeter  |  __settings.less
\*################################*/


#XMETER {
  .VARS() {
    // vertical rhythm
    @1rem: 16px; // a shortcut variable used for fallbacks where rems aren’t supported
    // where are rems not supported?
    // - IE8 and below, and
    // - IE9 and IE10 on the `font` shorthand property and on pseudo-elements/classes

    @xmeter_font_size: 100%; // defined by user agent
    @xmeter_font_size: @1rem; // fixes Chrome inheritance bug
    @xmeter_line_height: 1.5;
    @xmeter_vru_px: (@xmeter_line_height * @1rem); // fallback for @xmeter_vru, which is in rems
    @xmeter_vru:    (@xmeter_line_height *  1rem);

    @xmeter_font_size_h1: 32/16; // 2.000
    @xmeter_font_size_h2: 24/16; // 1.500
    @xmeter_font_size_h3: 20/16; // 1.250
    @xmeter_font_size_h4: 16/16; // 1.000
    @xmeter_font_size_h5: 14/16; // 0.875
    @xmeter_font_size_h6: 12/16; // 0.750
  }
}
