///////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
///////--- CHANGED DEPRECATED! Use the `/css/src/` folder instead!  ---////////
///////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
.transitions(@props: all; @dura: 0ms; @func: ease; @delay: 0ms) {
  transition-property: @props;
  transition-duration: @dura;
  transition-timing-function: @func;
  transition-delay: @delay;
}
