///////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
///////--- CHANGED DEPRECATED! Use the `/css/src/` folder instead!  ---////////
///////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////

.font-size-mod(@ratio: 1) {
  font-size: (@ratio * 1rem);
  // line-height: inherit; // NOTE clarification
  & > * {
    --vru: calc(@ratio ~' * var(--line-height) * 1rem'); // @ratio * parent vru
  }
}

.font-size-el(@ratio: 1; @lines: 1) {
  font-size: (@ratio * 1em);
  line-height: calc(~'var(--line-height) / ' (@ratio/@lines));
}
