
/*################################*\
    xmeter  |  __tool.vertspacing.less
\*################################*/
@import (reference) url('__settings.less');


// Sets the vertical spacing between typographical blocks.
// Add elements to this list if necessary.
///////////////////////////////////////////////////////////////////////////////
// CHANGED: THIS MIXIN IS DEPRECATED. will be dropped in favor of CSS Custom Properties
///////////////////////////////////////////////////////////////////////////////
// ^params
// @spacing (default: @g-vru) - the length of space to add between typographical blocks
// ^author
// : Chris Harvey
// ^updated
// : 2016-04-26
.vertspacing(@spacing: @g-vru) {
  h1, h2, h3, h4, h5, h6,
  p, pre, figure, blockquote,
  ol, ul, dl,
  table,
  fieldset {
    margin-bottom: @spacing; // HACK fallback
    margin-bottom: var(--vru);
  }
  h1 {
    padding-top: @spacing; // HACK fallback
    padding-top: var(--vru);
  }
}
