
/*################################*\
    xmeter  |  __tool.module.clearfix.less
\*################################*/


// This tool is used on **containers of floats** (not on floats themselves).
// It pushes subsequent content to the bottom of the container.
//
// ^author
// : Chris Harevy
// ^updated
// : 2016-06-07
.clearfix() {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}
