
/*################################*\
    xmeter  |  __tool.module.fontsize.less
\*################################*/
@import (reference) url('__settings.less');


// This Mixin sets `font-size` and `line-height` such that
// `font-size` * `line-height` = one vertical rhythm unit.
// Use this on elements with `display: block;` or `display: inline-block;` or anything
// that will affect vertical rhythm.
//
// ^params
// @ratio            - the ratio of the new font size to `@fontsize_base`, i.e., the number of 'rem's
// @line_height_orig - (default: @g-line_height) the `line-height` of the parent element
// @lines            - (default: 1) the number of vrus each line of text will take up. should be a whole number to satisfy vertical rhythm.
// ^author
// : Chris Harvey
// ^updated
// : 2016-01-08
.font-size-block(@ratio; @line_height_orig: @g-line_height; @lines: 1) {
  font-size: (@ratio * @g-1rem); // legacy browsers (see __settings for more info)
  font-size: (@ratio *    1rem);
  line-height: ((@line_height_orig / @ratio) * @lines);
}
