///////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
///////--- CHANGED DEPRECATED! Use the `/css/src/` folder instead!  ---////////
///////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////


.border-vert(top; @width: 0) {
  border-top-width: @width;
  margin-top: (-@width);
}

.border-vert(bottom; @width: 0) {
  border-bottom-width: @width;
  margin-top: (-@width);
}

.border-vert(topbot; @width: 0) {
  border-top-width:    @width;
  border-bottom-width: @width;
  margin-top: (-2 * @width);
}

.border-vert(all; @width: 0) {
  border-width: @width;
  margin-top: (-2 * @width);
}
