
/*################################*\
    xmeter  |  __tool.fallback.transform-origin.less
\*################################*/


// Specifies the origin for transformations of an element.
// The argument must have the following syntax:
//     ‹offset_all› | [ ‹offset_2d› ‹offset_z›? ]
// where:
// - ‹offset_all› = <percentage> | <length> | left | center | right | top | bottom
// - ‹offset_2d›  = ‹offset_x› && ‹offset_y›
// - ‹offset_x›   = <percentage> | <length> | left | center | right
// - ‹offset_y›   = <percentage> | <length> | top  | center | bottom
// - ‹offset_z›   = <length>
//
// ^url
// : https://developer.mozilla.org/en-US/docs/Web/CSS/transform-origin
// ^params
// : @arg - (default: `50% 50% 0`) see comment above
// ^author
// : Chris Harvey
// ^updated
// : 2016-05-18
.transform-origin(@arg: 50% 50% 0) {
  -webkit-transform-origin: @arg;
     -moz-transform-origin: @arg;
      -ms-transform-origin: @arg;
       -o-transform-origin: @arg;
          transform-origin: @arg;
}
