
/*################################*\
    xmeter  |  __tool.fallback.column-width.less
\*################################*/


  // Sets the width of columns of text.
  // See [MDN](https://developer.mozilla.org/en-US/docs/Web/CSS/column-width) for more info.
  //
  // @n - a positive integer indicating the number of columns, or
  //    - auto (initial) - indicates the width of columns should be determined by the `column-count` property
  // ^author
  // : Chris Harvey
  // ^updated
  // : 2016-02-08
  .column-width(@n) {
    -webkit-column-width: @n;
       -moz-column-width: @n;
            column-width: @n;
  }
