///////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
///////--- CHANGED DEPRECATED! Use the `/css/src/` folder instead!  ---////////
///////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
.sprite(horizontal; @position; @iconsize; @iconpadd) when (@position > 1) {
  background-position: ((@position - 1) * -(@iconsize + @iconpadd)) 0;
}
.sprite(horizontal; @position; @iconsize; @iconpadd) when (@position = 1) {
  background-position: 0 0;
}
.sprite(vertical; @position; @iconsize; @iconpadd) when (@position > 1) {
  background-position: 0 ((@position - 1) * -(@iconsize + @iconpadd));
}
.sprite(vertical; @position; @iconsize; @iconpadd) when (@position = 1) {
  background-position: 0 0;
}
