
/*################################*\
    xmeter  |  __tool.fontsize.less
\*################################*/
@import (reference) url('__settings.less');
@import (reference) url('__tool.vertspacing.less');


// Sets the font size of a module while preserving vertical rhythm.
// Modules use their own typographical systems with their own "vertical rhythm units."
// Font size is set in rems so that the module can be placed anywhere without changing appearance.
// Line height is simply set to that of the root element, so that the "vertical rhythm unit"
// scales with font size. (Effectively the same as `inherit`.)
// Typographical blocks within this module will be vertically spaced accordingly:
//   as the font-size of this module increases, so does vertical spacing.
//
// ^params
// @ratio - (default: 1) the ratio of the new font size to the root font size, i.e., the number of rems
// ^author
// : Chris Harvey
// ^updated
// : 2016-10-01
.font-size-mod(@ratio: 1) {
  @l-vru: @ratio * @g-vru; // in rems // CHANGED DEPRECATED! will be dropped in favor of CSS Custom Properties
  font-size: (@ratio * 1rem);
  // line-height: inherit; // NOTE clarification
  & > * {
    --vru: calc(~'var(--line-height) * ' @ratio*1rem);
  }
  .vertspacing(@l-vru); // CHANGED DEPRECATED! will be dropped in favor of CSS Custom Properties
}

// Sets the font size of an element within a module (or if not, in the root)
// while preserving vertical rhythm.
// Font size is set in ems so that it will scale accordingly with its
// parent module’s (or the root’s) font size.
// Line height is adjusted so that it remains a constant "vertical rhythm unit"
// of the parent module (or root).
// `font-size` * `line-height` = one vertical rhythm unit
//
// ^params
// @ratio - (default: 1) the ratio of the new font size to
//          the parent font size, i.e., the number of ems
// @lines - (default: 1) the number of vrus each line of text will take up.
//          should be a whole number to satisfy vertical rhythm.
// @line_height_parent - (default: @g-line_height) the `line-height` of the parent element.
//                       this param should only be used if the parent’s line height has changed.
//                       CHANGED remove on v6
// ^author
// : Chris Harvey
// ^updated
// : 2016-10-01
.font-size-el(@ratio: 1; @lines: 1; @line_height_parent: @g-line_height) {
  font-size: (@ratio * 1em);
  line-height: (@g-line_height / (@ratio/@lines)); // HACK fallback
  line-height: calc(~'var(--line-height) / ' (@ratio/@lines));
}
