
/*################################*\
    xmeter  |  __tool.fallback.gradient.less
\*################################*/


///////////////////////////////////////////////////////////////////////////////
// CHANGED DEPRECATED
// IMPORTANT!!!
// ------------
// As of v4.3.0
// This entire file and the code therein is DEPRECATED due to
// renaming. see `__tool.fallback.linear-gradient.less`
// This file will be OBSOLETE and deleted on Version 5.
///////////////////////////////////////////////////////////////////////////////

// Applies a single linear gradient background on an element.
// This is an unusual property in that a single css value list is comprised
// of comma-separated values (unlike normal css value lists which are space-separated).
// Thus when you call the mixin, you must append a dummy semicolon at the end of your argument.
// If you do not, Less will interpret the commas as argument separators.
//
// See [MDN](https://developer.mozilla.org/en-US/docs/Web/CSS/linear-gradient) for more info.
// See [WPD](http://docs.webplatform.org/wiki/css/functions/linear-gradient) for more info.
//
// ^params
// : @arg - a list of comma-separated components (each as a component of one gradient value).
//          Must be terminated with a semicolon (;).
// ^author
// : Chris Harvey
// ^updated
// : 2014-07-08
.gradient(@arg) {
  background-image: -webkit-linear-gradient(@arg);
  background-image:    -moz-linear-gradient(@arg);
  background-image:     -ms-linear-gradient(@arg);
  background-image:      -o-linear-gradient(@arg);
  background-image:         linear-gradient(@arg);
  background-image:        -webkit-gradient(@arg); // "Old Webkit"
}
