
/*################################*\
    xmeter  |  __tool.module.delims.less
\*################################*/


// This tool adds opening and closing punctuation marks surrounding an Object. The
// punctuation marks are given by the `quotes` property.
//
// @left  - the character for the left delimiter
// @right - the character for the right delimiter
// ^author
// : Chris Harvey
// ^updated
// : 2014-10-11
///////////////////////////////////////////////////////////////////////////////
// CHANGED: THIS MIXIN IS DEPRECATED. see `.delims()` below
///////////////////////////////////////////////////////////////////////////////
.delimiters(@left; @right) {
  quotes: @left @right;
  &::before { content: open-quote; }
  &::after  { content: close-quote; }
}

.parens()            { .delimiters('('; ')'); }
.brackets()          { .delimiters('['; ']'); }
.braces()            { .delimiters('{'; '}'); }
.angles()            { .delimiters('<'; '>'); }   // '\003c' '\003e' // &lt;     &gt;

.apos()              { .delimiters('\''; '\''); } // '\0027' '\0027' // &apos;   &apos;
.quot()              { .delimiters('\"'; '\"'); } // '\0022' '\0022' // &quot;   &quot;

.quotes-single()     { .delimiters('\2018'; '\2019'); } // '‘' '’' // &lsquo;  &rsquo;
.quotes-double()     { .delimiters('\201c'; '\201d'); } // '“' '”' // &ldquo;  &rdquo;
.guillemets-single() { .delimiters('\2039'; '\203a'); } // '‹' '›' // &lsaquo; &rsaquo;
.guillemets-double() { .delimiters('\00ab'; '\00bb'); } // '«' '»' // &laquo;  &raquo;


///////////////////////////////////////////////////////////////////////////////
// CHANGED: THIS NEW MIXIN HAS PRECEDENCE
// TODO UNCOMMENT THE MIXINS BELOW ON Version 5+
///////////////////////////////////////////////////////////////////////////////
// This tool adds opening and closing punctuation marks surrounding an element.
// The punctuation marks are given by the `quotes` property.
//
// @arg - (default: `none`) an even number of space-separated left/right delimiters,
//        each pair used for one level of nested quotation.
// ^author
// : Chris Harvey
// ^updated
// : 2016-05-05
.delims(@arg: none) {
  quotes: @arg;
  &::before { content: open-quote; }
  &::after  { content: close-quote; }
}

// .parens()            { .delimiters('(' ')'); }
// .brackets()          { .delimiters('[' ']'); }
// .braces()            { .delimiters('{' '}'); }
// .angles()            { .delimiters('<' '>'); }   // '\003c' '\003e' // &lt;     &gt;
//
// .apos()              { .delimiters('\'' '\''); } // '\0027' '\0027' // &apos;   &apos;
// .quot()              { .delimiters('\"' '\"'); } // '\0022' '\0022' // &quot;   &quot;
//
// .quotes-single()     { .delimiters('\2018' '\2019'); } // '‘' '’' // &lsquo;  &rsquo;
// .quotes-double()     { .delimiters('\201c' '\201d'); } // '“' '”' // &ldquo;  &rdquo;
// .guillemets-single() { .delimiters('\2039' '\203a'); } // '‹' '›' // &lsaquo; &rsaquo;
// .guillemets-double() { .delimiters('\00ab' '\00bb'); } // '«' '»' // &laquo;  &raquo;
