
/*##################*\
    _grouping.less
\*##################*/


//+++++++++++++++++//
/*@GROUPING CONTENT*/
//+++++++++++++++++//
hr {
  display: none;
}
//-----------------------//
/*@Paragraph-Like Content*/
//-----------------------//
p {
}
figure {
}
figcaption {
}
blockquote {
}
pre {
}
//---- @end Paragraphic-Like Content ----//

//------//
/*@Lists*/
//------//
ol, ul {
  padding: 0 0 0 4rem;
}
ol {
}
ul {
}
dl {
}
li {
}
dt {
  font-weight: bold;
}
dd {
}
li,
dt,
dd {
  > ol,
  > ul,
  > dl {
    .spacing-bottom(0);
  }
}
//---- @end Lists ----//

//-------//
/*@Tables*/
//-------//
table {
}
caption {
}
thead {
}
tbody {
}
tfoot {
}
tr {
}
th {
  text-align: center; // not explicitly defined by browser default
}
td {
}
//---- @end Tables ----//
//++++ @end GROUPING CONTENT ++++//
