
/*################################*\
    _base.text.less
\*################################*/


// In this section,
// - font sizes should be in units of `em` instead of `rem` because
//   text-level elements should scale with their parents
// - inline elements should not affect vertical rhythm, thus line-heights are zero


span, a, br,
em, strong, i, mark, u, small, s,
dfn, b, var, q, cite, sup, sub,
data, abbr, time, code, kbd, samp {
  line-height: 0;
}
// Do not use `br` to indicate line breaks, use CSS instead.
// One exception: MAY use `address > br` to indicate line breaks (by convention), but
// PREFERRED method is to use `address > ol` and use CSS to remove item markers
br {
  display: none;
  address > & {
    display: inline;
  }
}
