
/*################################*\
    xmeter  |  _base.text.links.less
\*################################*/


a {
  color: #00e;       // default :link
  // color: #551a8b; // default :visited
  // color: #f00;    // default :active
}
a:not([href]) {
  @media screen {
    opacity: 0.5;
  }
}
