
/*################################*\
    xmeter  |  _base.text.doctext.less
\*################################*/
@import (reference) url('__tool.module.delims.less');


ins {
  background: #a6f3a6; // GitHub-flavored
  // background: #d1e1ad; // StackOverflow-flavored
}
del {
  background: #f8cbcb; // GitHub-flavored
  // background: #e5bdb2; // StackOverflow-flavored
}
dfn {
  font-style: inherit; // undo Normalize
  font-weight: 700;
}
b {
  font-weight: 700;
}
abbr {
  &[title] {
    cursor: help;
    text-decoration: none; // undo Normalize
  }
}
var {
  font-style: italic;
}
q {
  .quotes-double(); // fallback for `initial`
  quotes: initial;
}
cite {
  font-style: italic;
}
sup, sub {
  font-size: (@g-font_size_h6 * 1em);
}
sup {
}
sub {
}
