
/*################################*\
    xmeter  |  _base.sections.less
\*################################*/
@import (reference) url('__settings.less');
@import (reference) url('__tool.module.spacing.less');
@import (reference) url('__tool.module.fontsize.less');


html,
body {
  width: 100%;
  height: 100%;
}
html {
  // addresses support for `rem` units (otherwise these would be in `body` selector)
  font-size: @g-font_size;
  font-size: @g-1rem; // HACK fixes Chrome inheritance bug
  line-height: @g-line_height;
}
body {
}
main {
}
section {
}
article {
}
aside {
}
nav {
}
main {
}
header {
}
footer {
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}
h1 { .font-size-block(@g-font_size_h1); }
h2 { .font-size-block(@g-font_size_h2); }
h3 { .font-size-block(@g-font_size_h3); }
h4 { .font-size-block(@g-font_size_h4); }
h5 { .font-size-block(@g-font_size_h5); }
h6 { .font-size-block(@g-font_size_h6); }

h1 {
  margin-top: 0; // undo Normalize
  .spacing-top(@g-vru);
}

address {
}
