
/*################################*\
    xmeter  |  _base.text.data.less
\*################################*/
@import (reference) url('__settings.less');


data {
}
time {
}
code, kbd, samp {
  font-size: (@g-font_size_h6 * 1em);
  white-space: nowrap;
  code, kbd, samp {
    font-size: inherit; // undo compounding font sizes
  }
}
code {
}
kbd {
}
samp {
}
