
/*################################*\
    _base.grouping.paras.less
\*################################*/


figure, blockquote, pre {
  margin-left:  1rem;
  margin-right: 1rem;
}

p {
}
figure {
}
figcaption {
}
blockquote {
}
pre {
  // makes block code look pretty
  text-align: left;
  text-indent: 0;
}
