
/*################################*\
    _base.embedded.less
\*################################*/


// [1] Correct squishing when one dimension changes
// [2] fluid images for responsive purposes
// [3] offset `[alt]` attribute text from surrounding copy
// [4] safer alternative to `display: block;`
img {
  width: auto;  // [1]
  height: auto; // [1]
  max-width: 100%; // [2]
  font-style: italic; // [3]
  vertical-align: middle; // [4]
}

// From Nicolas Gallagher’s `normalize.css`
// [1] Correct overflow not hidden in IE 9/10/11.
svg:not(:root) {
  overflow: hidden; // [1]
}
