
/*##################*\
    _sections.less
\*##################*/


/*+++++++++++++*\
    #SECTIONS
\*+++++++++++++*/
html {
  #XMETER .VARS();
  font-size: @xmeter_font_size;
  line-height: @xmeter_line_height;
}
body {
}
section {
}
article {
}
aside {
}
nav {
}
main {
}
header {
}
footer {
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; // explicitly defined by browser default but not extendable
}
h1 { #XMETER .VARS(); font-size: (@h1_font_size * 1rem); line-height: @h1_line_height; #XMETER .spacing-top(@xmeter_vru); }
h2 { #XMETER .VARS(); font-size: (@h2_font_size * 1rem); line-height: @h2_line_height; }
h3 { #XMETER .VARS(); font-size: (@h3_font_size * 1rem); line-height: @h3_line_height; }
h4 { #XMETER .VARS(); font-size: (@h4_font_size * 1rem); line-height: @h4_line_height; }
h5 { #XMETER .VARS(); font-size: (@h5_font_size * 1rem); line-height: @h5_line_height; }
h6 { #XMETER .VARS(); font-size: (@h6_font_size * 1rem); line-height: @h6_line_height; }

hgroup {
}

hr {
  display: none;
}

address {
  font-style: inherit;
}
//++++ #end SECTIONS ++++//
