
/*################################*\
    xmeter  |  _base.generic.less
\*################################*/
@import (reference) url('__settings.less');
@import (reference) url('__fallback.box-sizing.less');
@import (reference) url('__tool.vertspacing.less');


* {
  &,
  &::before,
  &::after {
    .box-sizing(border-box);
    border: 0 solid; // reset browser default border
    content: ' '; // fallback
    content: ''; // fallback
    content: none;
    @media print {
      background: transparent !important;
      box-shadow: none !important;
      text-shadow: none !important;
    }
  }
}

html {
  --line-height: @g-line_height;
  --vru: calc(var(--line-height) ~'*' 1rem);
  // addresses support for `rem` units (otherwise these would be in `body` selector)
  font-size: 100%; // defined by user agent
  font-size: @g-1rem; // HACK fixes Chrome inheritance bug
  line-height: var(--line-height);
}

// Vertical spacing between typographical blocks
.vertspacing();

// Font sizes for text-level elements should be in units of `em` instead of `rem` because
// they should scale with their parents.
// Also, inline elements should not affect vertical rhythm, thus line-heights are zero.
span, br,
em, strong, i, mark, u, small, s,
dfn, b, abbr, var, q, cite, sup, sub,
data, time, code, kbd, samp {
  line-height: 0;
}

// Elements with a transparent content model
// should display what their contents display.
a, ins, del {
  // display: inherit;
  // line-height: inherit;
  // h1 > &, h2 > &, h3 > &, h4 > &, h5 > &, h6 > &,
  // p > &, pre > &,
  // figure > &, figcaption > &, blockquote > &,
  // li > &, dt > &, dd > &,
  // caption > &, th > &, td > &,
  // legend > &, summary > & {
  //   display: inline;
  //   line-height: 0;
  // }
  display: contents;
}
