
/*################################*\
    xmeter  |  _base.forms.less
\*################################*/
@import (reference) url('__settings.less');
@import (reference) url('__fallback.box-sizing.less');
@import (reference) url('__tool.borders.less');
@import (reference) url('__tool.fontsize.less');


@p-color_gray_fb: #c0c0c0; // fallback
@p-color_gray: fadeout(#000, 75%);

// consistent borders for all
fieldset,
input,
select,
textarea,
button {
  .border-vert(all; 1px);
  border-style: solid;
  border-color: @p-color_gray_fb;
  border-color: @p-color_gray;
}

fieldset {
  padding: 0 1rem;
  margin-left: 0; margin-right: 0; // undo normalize
}

input,
select,
textarea,
button {
  padding: 0 0.25rem;
}

// small font size for textual inputs
input:not([type="button"]):not([type="reset"]):not([type="submit"]),
textarea {
  .font-size-el(@g-font_size_mill);
}

textarea {
  width: 30rem;
  height: 6 * @g-vru;
  line-height: @g-line_height; // HACK fallback
  line-height: var(--line-height); // override browser-default (simply looks better)
}

input[type="button"],
input[type="reset"],
input[type="submit"],
button {
  background-color: @p-color_gray_fb;
  background-color: @p-color_gray;
}

// Override content-box in Normalize (* in base.generic isn’t specific enough)
input[type="search"] {
  .box-sizing(border-box);
}
