
/*################################*\
    _base.grouping.paras.less
\*################################*/


figure, blockquote, pre {
  margin-left:  1rem;
  margin-right: 1rem;
}

p {
}
figure {
}
figcaption {
}
blockquote {
}
pre {
  font-family: monospace, monospace; // Address odd `em`-unit font size rendering in all browsers.
  white-space: pre;
  overflow: auto;
}
