
/*################################*\
    xmeter  |  _base.less
\*################################*/
@import (reference) url('__settings.less');
@import (reference) url('__tool.vertspacing.less');
@import (reference) url('__tool.borders.less');
@import (reference) url('__tool.fontsize.less');
@import (reference) url('__tool.delims.less');


// Table of Contents
// # GENERIC........................`html` and far-reaching page-wide selectors
// # SECTIONS.......................sections, articles, headers, footers, headings
// # GROUPING.......................grouping content
//   ## Paragraphs......................paragraphs, block-level textual elements
//   ## Lists...........................ordered, unordered, dictionary
//   ## Tables..........................tables
// # TEXT...........................text-level, phrasing (inline) content and links
//   ## Links...........................inline hyperlinks
//   ## Stress..........................text outstanding from surrounding prose
//   ## Doc.............................documentation elements
//   ## Data............................machine- or human-readable data
// # FORMS..........................form elements
// # EMBEDDED.......................images, videos, other media
// # INTERACTIVE....................user-interactive HTML elements


//++++++++++++++++++++++++++++++++//
//    # GENERIC
//++++++++++++++++++++++++++++++++//
* {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
    border: 0 solid; // reset browser default border
    content: ' '; // fallback
    content: ''; // fallback
    content: none;
    @media print {
      background: transparent !important;
      box-shadow: none !important;
      text-shadow: none !important;
    }
  }
}

html {
  --line-height: @g-line_height;
  --vru: calc(~'var(--line-height) * 1rem');
  // addresses support for `rem` units (otherwise these would be in `body` selector)
  font-size: 100%; // defined by user agent
  font-size: @g-1rem; // HACK fixes Chrome inheritance bug
  line-height: @g-line_height; // HACK fallback
  line-height: var(--line-height);
}

// Vertical spacing between typographical blocks
.vertspacing(); // CHANGED DEPRECATED! will be dropped in favor of CSS Custom Properties

// Font sizes for text-level elements should be in units of `em` instead of `rem` because
// they should scale with their parents.
// Also, inline elements should not affect vertical rhythm, thus line-heights are zero.
span, br,
em, strong, i, mark, u, small, s,
dfn, b, abbr, var, q, cite, sup, sub,
data, time, code, kbd, samp {
  line-height: 0;
}

// Elements with a transparent content model
// should display what their contents display.
a, ins, del {
  // display: inherit;
  // line-height: inherit;
  // h1 > &, h2 > &, h3 > &, h4 > &, h5 > &, h6 > &,
  // p > &, pre > &,
  // figure > &, figcaption > &, blockquote > &,
  // li > &, dt > &, dd > &,
  // caption > &, th > &, td > &,
  // legend > &, summary > & {
  //   display: inline;
  //   line-height: 0;
  // }
  display: contents;
}
//++++ end # GENERIC ++++//


//++++++++++++++++++++++++++++++++//
//    # SECTIONS
//++++++++++++++++++++++++++++++++//
body {
}
main {
}
section {
}
article {
}
aside {
}
nav {
}
main {
}
header {
}
footer {
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}
h1 { .font-size-el(@g-font_size_h1; 2); }
h2 { .font-size-el(@g-font_size_h2; 2); }
h3 { .font-size-el(@g-font_size_h3); }
h4 { .font-size-el(@g-font_size_h4); }
h5 { .font-size-el(@g-font_size_h5); }
h6 { .font-size-el(@g-font_size_h6); }

h1 {
  margin-top: 0; // undo Normalize
}

address {
}
//++++ end # SECTIONS ++++//


//++++++++++++++++++++++++++++++++//
//    # GROUPING
//++++++++++++++++++++++++++++++++//
div {
}
hr {
  display: none;
}
  //--------------------------------//
  //    ## Paragraphs
  //--------------------------------//
  p {
  }
  pre {
    .font-size-el(@g-font_size_mill);
    text-align: left;
    text-indent: 0;
    white-space: pre;
    overflow: auto;
  }
  figure {
    // undo Normalize
    margin-top:   0;
    margin-left:  0;
    margin-right: 0;
  }
  figcaption {
  }
  blockquote {
  }
  //---- end ## Paragraphs ----//

  //--------------------------------//
  //    ## Lists
  //--------------------------------//
  ol, ul, dl {
    li > &, dt > &, dd > & {
      margin-bottom: 0; // undo default bottom spacing for nested lists
    }
  }
  ol, ul {
    padding: 0 0 0 4rem;
    li > &,
    dt > &,
    dd > & {
      padding-left: 2rem;
    }
  }
  ol {
    list-style-type: decimal;
  }
  ul {
    list-style-type: disc;
  }
  dl {
  }
  li {
  }
  dt {
  }
  dd {
  }
  //---- end ## Lists ----//

  //--------------------------------//
  //    ## Tables
  //--------------------------------//
  table {
    max-width: 100%; // fluid tables for responsive purposes
    border-collapse: collapse;
    text-align: left; // fix browser bug
  }
  caption {
    text-align: center;
  }
  thead,
  tfoot {
    vertical-align: bottom; // for heading alignment
  }
  thead {
  }
  tfoot {
  }
  tbody {
    vertical-align: top; // for data alignment
  }
  tr {
  }
  th {
    font-weight: 700;
    text-align: center;
  }
  td {
  }
  //---- end ## Tables ----//
//++++ end # GROUPING ++++//


//++++++++++++++++++++++++++++++++//
//    # TEXT
//++++++++++++++++++++++++++++++++//
// RECOMMENDATION:
// Do not use `br` to indicate line breaks, use CSS instead.
// One exception: MAY use `address > br` to indicate line breaks (by convention)
br {
}
  //--------------------------------//
  //    ## Links
  //--------------------------------//
  a {
    color: #00e;       // default :link
    // color: #551a8b; // default :visited
    // color: #f00;    // default :active
  }
  a:not([href]) {
    @media screen {
      opacity: 0.5;
    }
  }
  //---- end ## Links ----//

  //--------------------------------//
  //    ## Stress
  //--------------------------------//
  em {
    font-style: italic;
  }
  strong {
    font-weight: 700;
  }
  i {
    font-style: italic;
  }
  mark {
  }
  u {
    text-decoration: underline;
    color: #080;
  }
  small {
    font-size: (@g-font_size_mill * 1em);
  }
  s {
    text-decoration: line-through;
    color: #b00;
  }
  //---- end ## Stress ----//

  //--------------------------------//
  //    ## Doc
  //--------------------------------//
  ins {
    background: #a6f3a6; // GitHub-flavored
    // background: #d1e1ad; // StackOverflow-flavored
  }
  del {
    background: #f8cbcb; // GitHub-flavored
    // background: #e5bdb2; // StackOverflow-flavored
  }
  dfn {
    font-style: inherit; // undo Normalize
    font-weight: 700;
  }
  b {
    font-weight: 700;
  }
  abbr {
    &[title] {
      cursor: help;
      text-decoration: none; // undo Normalize
    }
  }
  var {
    font-style: italic;
  }
  q {
    .quotes-double(); // fallback for `initial`
    quotes: initial;
  }
  cite {
    font-style: italic;
  }
  sup, sub {
    font-size: (@g-font_size_mill * 1em);
  }
  sup {
  }
  sub {
  }
  //---- end ## Doc ----//

  //--------------------------------//
  //    ## Data
  //--------------------------------//
  data {
  }
  time {
  }
  code, kbd, samp {
    font-size: (@g-font_size_mill * 1em);
    white-space: nowrap;
    code, kbd, samp {
      font-size: inherit; // undo compounding font sizes
    }
  }
  code {
  }
  kbd {
  }
  samp {
  }
  //---- end ## Data ----//
//++++ end # TEXT ++++//


//++++++++++++++++++++++++++++++++//
//    # FORMS
//++++++++++++++++++++++++++++++++//
@p-color_gray_fb: #c0c0c0; // HACK fallback
@p-color_gray: fadeout(#000, 75%);

// consistent borders for all
fieldset,
input,
select,
textarea,
button {
  .border-vert(all; 1px);
  border-style: solid;
  border-color: @p-color_gray_fb; // HACK fallback
  border-color: @p-color_gray;
}
fieldset {
  padding: 0 1rem;
  margin-left: 0; margin-right: 0; // undo normalize
}
input,
select,
textarea,
button {
  padding: 0 0.25rem;
}

// small font size for textual inputs
input:not([type="button"]):not([type="reset"]):not([type="submit"]),
textarea {
  .font-size-el(@g-font_size_mill);
}

textarea {
  width: 30rem;
  height: 6 * @g-vru;
  line-height: @g-line_height; // HACK fallback
  line-height: var(--line-height); // override browser-default (simply looks better)
}

input[type="button"],
input[type="reset"],
input[type="submit"],
button {
  background-color: @p-color_gray_fb; // HACK fallback
  background-color: @p-color_gray;
}

// Override content-box in Normalize (* in base.generic isn’t specific enough)
input[type="search"] {
  box-sizing: border-box;
}
//++++ end # FORMS ++++//


//++++++++++++++++++++++++++++++++//
//    # EMBEDDED
//++++++++++++++++++++++++++++++++//
//++++ end # EMBEDDED ++++//


//++++++++++++++++++++++++++++++++//
//    # INTERACTIVE
//++++++++++++++++++++++++++++++++//
//++++ end # INTERACTIVE ++++//
