
/*################################*\
    xmeter  |  _base.less
\*################################*/
@import (reference) url('__settings.less');
@import (reference) url('__tool.vertspacing.less');


// Table of Contents
// # GENERIC........................`html` and far-reaching page-wide selectors
// # SECTIONS.......................sections, articles, headers, footers, headings
// # GROUPING.......................grouping content
//   ## Paragraphs......................paragraphs, block-level textual elements
//   ## Lists...........................ordered, unordered, dictionary
//   ## Tables..........................tables
// # TEXT...........................text-level, phrasing (inline) content and links
//   ## Links...........................inline hyperlinks
//   ## Stress..........................text outstanding from surrounding prose
//   ## Doc.............................documentation elements
//   ## Data............................machine- or human-readable data
// # FORMS..........................form elements
// # EMBEDDED.......................images, videos, other media
// # INTERACTIVE....................user-interactive HTML elements


//++++++++++++++++++++++++++++++++//
//    # GENERIC
//++++++++++++++++++++++++++++++++//
* {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
    border: 0 solid; // reset browser default border
    content: ' '; // fallback
    content: ''; // fallback
    content: none;
    @media print {
      background: transparent !important;
      box-shadow: none !important;
      text-shadow: none !important;
    }
  }
}

html {
  --line-height: @g-line_height;
  --vru: calc(~'var(--line-height) * 1rem');
  // addresses support for `rem` units (otherwise these would be in `body` selector)
  font-size: 100%; // defined by user agent
  font-size: @g-1rem; // HACK fixes Chrome inheritance bug
  line-height: @g-line_height; // HACK fallback
  line-height: var(--line-height);
}

// Vertical spacing between typographical blocks
.vertspacing(); // CHANGED DEPRECATED! will be dropped in favor of CSS Custom Properties

// Font sizes for text-level elements should be in units of `em` instead of `rem` because
// they should scale with their parents.
// Also, inline elements should not affect vertical rhythm, thus line-heights are zero.
span, br,
em, strong, i, mark, u, small, s,
dfn, b, abbr, var, q, cite, sup, sub,
data, time, code, kbd, samp {
  line-height: 0;
}

// Elements with a transparent content model
// should display what their contents display.
a, ins, del {
  // display: inherit;
  // line-height: inherit;
  // h1 > &, h2 > &, h3 > &, h4 > &, h5 > &, h6 > &,
  // p > &, pre > &,
  // figure > &, figcaption > &, blockquote > &,
  // li > &, dt > &, dd > &,
  // caption > &, th > &, td > &,
  // legend > &, summary > & {
  //   display: inline;
  //   line-height: 0;
  // }
  display: contents;
}
//++++ end # GENERIC ++++//


//++++++++++++++++++++++++++++++++//
//    # SECTIONS
//++++++++++++++++++++++++++++++++//
//++++ end # SECTIONS ++++//


//++++++++++++++++++++++++++++++++//
//    # GROUPING
//++++++++++++++++++++++++++++++++//
  //--------------------------------//
  //    ## Paragraphs
  //--------------------------------//
  //---- end ## Paragraphs ----//

  //--------------------------------//
  //    ## Lists
  //--------------------------------//
  //---- end ## Lists ----//

  //--------------------------------//
  //    ## Tables
  //--------------------------------//
  //---- end ## Tables ----//
//++++ end # GROUPING ++++//


//++++++++++++++++++++++++++++++++//
//    # TEXT
//++++++++++++++++++++++++++++++++//
  //--------------------------------//
  //    ## Links
  //--------------------------------//
  //---- end ## Links ----//

  //--------------------------------//
  //    ## Stress
  //--------------------------------//
  //---- end ## Stress ----//

  //--------------------------------//
  //    ## Doc
  //--------------------------------//
  //---- end ## Doc ----//

  //--------------------------------//
  //    ## Data
  //--------------------------------//
  //---- end ## Data ----//
//++++ end # TEXT ++++//


//++++++++++++++++++++++++++++++++//
//    # FORMS
//++++++++++++++++++++++++++++++++//
//++++ end # FORMS ++++//


//++++++++++++++++++++++++++++++++//
//    # EMBEDDED
//++++++++++++++++++++++++++++++++//
//++++ end # EMBEDDED ++++//


//++++++++++++++++++++++++++++++++//
//    # INTERACTIVE
//++++++++++++++++++++++++++++++++//
//++++ end # INTERACTIVE ++++//
