
/*################################*\
    xmeter  |  _base.grouping.lists.less
\*################################*/


ol, ul, dl {
  li > &, dt > &, dd > & {
    margin-bottom: 0; // undo default bottom spacing for nested lists
  }
}
ol, ul {
  padding: 0 0 0 4rem;
  li > &,
  dt > &,
  dd > & {
    padding-left: 2rem;
  }
}
ol {
  list-style-type: decimal;
}
ul {
  list-style-type: disc;
}
dl {
}
li {
}
dt {
}
dd {
}
