
/*################################*\
    _base.text.stress.less
\*################################*/
@import url('_tool.module.delims.less');


// In this section,
// - font sizes should be in units of `em` instead of `rem` because
//   text-level elements should scale with their parents
// - inline elements should not affect vertical rhythm, thus line-heights are zero


em {
}
strong {
}
i:not([lang]) {
  #XMETER .quotes-double();
}
mark {
}
u {
  color: #080;
}
small {
  font-size: 0.75em;
}
s {
  color: #e00;
}
