
/*################################*\
    xmeter  |  _base.text.stress.less
\*################################*/


em {
  font-style: italic;
}
strong {
  font-weight: 700;
}
i {
  font-style: italic;
}
mark {
}
u {
  text-decoration: underline;
  color: #080;
}
small {
  font-size: (@g-font_size_h6 * 1em);
}
s {
  text-decoration: line-through;
  color: #b00;
}
