
/*################################*\
    _base.text.data.less
\*################################*/


abbr {
  &[title] {
    cursor: help;
  }
}
data {
}
time {
}
code, kbd, samp {
  font-size: 0.75em;
  white-space: nowrap;
  code, kbd, samp {
    font-size: inherit; // undo compounding font sizes
  }
}
code {
}
kbd {
}
samp {
}
