
/*################################*\
    _base.text.doctext.less
\*################################*/


ins {
  background: #a6f3a6; // GitHub-flavored
  // background: #d1e1ad; // StackOverflow-flavored
}
del {
  background: #f8cbcb; // GitHub-flavored
  // background: #e5bdb2; // StackOverflow-flavored
}
dfn {
  font-style: inherit; // undo Normalize
  font-weight: bold;
}
b {
}
var {
  font-style: italic;
}
q {
  quotes: initial;
}
cite {
  font-style: italic;
}
sup, sub {
  font-size: 0.75em;
}
sup {
}
sub {
}
