
/*################################*\
    _base.forms.less
\*################################*/
@import (reference) url('__settings.less');
@import (reference) url('__tool.module.borders.less');
@import (reference) url('__tool.module.fontsize.less');


@font_size_small: 0.75;

fieldset {
  padding: 0 1rem;
  #XMETER .border-vert(all; 1px);
  border-style: solid;
  border-color: fadeout(#000, 50%);
}

// consistent borders for all
input,
select,
textarea,
button {
  #XMETER .border-vert(all; 1px);
  border-style: solid;
  border-color: fadeout(#000, 75%);
}

// small font size for textual inputs
input:not([type="button"]):not([type="reset"]):not([type="submit"]),
textarea {
  padding: 0 0.25rem;
  #XMETER .VARS();
  #XMETER .font-size-block(@font_size_small; @xmeter_line_height);
}

textarea {
  width: 30rem;
  #XMETER .VARS();
  height: 6 * @xmeter_vru;
  line-height: @xmeter_line_height; // simply looks better
}

input[type="button"]
input[type="reset"]
input[type="submit"],
button {
  // border: 2px outset buttonface;
}

button {

}
