
/*################################*\
    _base.text.stress.less
\*################################*/
@import (reference) url('__tool.module.delims.less');


em {
  font-style: italic;
}
strong {
  font-weight: bold;
}
i {
  font-style: italic;
}
mark {
}
u {
  color: #080;
}
small {
  font-size: 0.75em;
}
s {
  color: #e00;
}
