
/*################################*\
    xmeter  |  _base.grouping.paras.less
\*################################*/


p {
}
pre {
  .font-size-el(@g-font_size_h6);
  text-align: left;
  text-indent: 0;
  white-space: pre;
}
figure {
  // undo Normalize
  margin-top:   0;
  margin-left:  0;
  margin-right: 0;
}
figcaption {
}
blockquote {
}
