///////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
///////--- CHANGED DEPRECATED! Use the `/css/src/` folder instead!  ---////////
///////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////

.o-Flex {
  display: flex;
  line-height: inherit; // override lh-z on text-level elements
  justify-content: space-between;
}

.o-Flex__Item {
  flex: auto;
}

@media screen  and (min-width: 30em) { .o-Flex-sK { .o-Flex; }  .o-Flex__Item-sK { .o-Flex__Item; } }
@media screen  and (min-width: 45em) { .o-Flex-sM { .o-Flex; }  .o-Flex__Item-sM { .o-Flex__Item; } }
@media screen  and (min-width: 60em) { .o-Flex-sG { .o-Flex; }  .o-Flex__Item-sG { .o-Flex__Item; } }
@media screen  and (min-width: 75em) { .o-Flex-sT { .o-Flex; }  .o-Flex__Item-sT { .o-Flex__Item; } }
@media screen  and (min-width: 90em) { .o-Flex-sP { .o-Flex; }  .o-Flex__Item-sP { .o-Flex__Item; } }
@media not all and (min-width: 30em) { .o-Flex-nK { .o-Flex; }  .o-Flex__Item-nK { .o-Flex__Item; } }
@media not all and (min-width: 45em) { .o-Flex-nM { .o-Flex; }  .o-Flex__Item-nM { .o-Flex__Item; } }
@media not all and (min-width: 60em) { .o-Flex-nG { .o-Flex; }  .o-Flex__Item-nG { .o-Flex__Item; } }
@media not all and (min-width: 75em) { .o-Flex-nT { .o-Flex; }  .o-Flex__Item-nT { .o-Flex__Item; } }
@media not all and (min-width: 90em) { .o-Flex-nP { .o-Flex; }  .o-Flex__Item-nP { .o-Flex__Item; } }
