
/*##################*\
    _settings.less
\*##################*/


/*++++++++++++++++++++*\
    #VERTICAL RHYTHM
\*++++++++++++++++++++*/
.VARS() {
  @xmeter_font_size: 100%; // defined by user agent
  @xmeter_line_height: 1.5;
  @xmeter_vru: (@xmeter_line_height * 1rem);
}
//++++ #end VERTICAL RHYTHM ++++//
