/*================================*\
///////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
///////--- CHANGED DEPRECATED! Use the `/css/src/` folder instead!  ---////////
///////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
\*================================*/
body {
  text-align: start; /* HACK fallback */
  text-align: initial; /* fix unsupported browsers initial value */
  background: #fff;
  color: #000;
}

sup, sub {
  vertical-align: baseline; /* HACK fallback */
  vertical-align: initial;  /* HACK fallback */
  vertical-align: unset;
}
body,
h1, h2, h3, h4, h5, h6,
hr,
p, figure, blockquote, pre,
ol, ul, dl,
dd,
fieldset {
  margin: 0; margin: initial; /* HACK fallback */
  margin: unset;
}
th, td,
legend {
  padding: 0; padding: initial; /* HACK fallback */
  padding: unset;
}
h1, h2, h3, h4, h5, h6,
address,
pre,
th,
em, strong, i, small,
dfn, b, var, cite, sup, sub,
code, kbd, samp {
  font: inherit;
}
caption,
th {
  text-align: inherit;
}
pre {
  white-space: inherit;
}
a,
u, s,
ins, del {
  text-decoration: none; text-decoration: initial; /* HACK fallback */
  text-decoration: unset;
}
mark {
  color: inherit; /* HACK fallback */
  color: unset;
}
