
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
    xmeter
    Version: 5.7.1
    Licence: MIT
    Repo   : https://github.com/chharvey/xmeter.git
    Home   : https://github.com/chharvey/xmeter#readme
    Author : Chris Harvey <chrisharvey2pi@gmail.com> (https://chharvey.github.io/)
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


@import (inline) url('reset.css');
@import (inline) url('../node_modules/normalize.css/normalize.css');


/*================================*\
    xmeter.less
\*================================*/


/**
 * ////////////////    CONTENTS    ////////////////
 *
 * reset.css (above)...................strips all elements of all browser-default styles
 * normalize.css (above)...............(@necolas) addresses browser discrepancies
 *
 * BASE--------------------------------BARE UNCLASSED ELEMENTS
 * _base.css...........................unclassed html elements
 *
 * OBJECTS-----------------------------REUSABLE STRUCTURAL PATTERNS
 * List................................plain, unstyled, blocky list
 * Flex................................one-dimensional flexible box
 * Grid................................two-dimensional flexible box
 *
 * COMPONENTS--------------------------SPECIFIC STYLE PATTERNS
 * Permalink...........................internal documentation link
 *
 * THEMES & HELPERS--------------------LOCATION-DEPENDENT STYLES
 * Block...............................gives a blocky look
 * Inline..............................a simple inline object
 * Clearfix............................creates a line break and clears floats
 *
 * ATOMS-------------------------------FUNCTIONAL CSS
 * fz..................................font-size
 */

///////////////////////////////////////////////////////////////////////////////


@import url('_base.less');
@import url('_o-List.less');
@import url('_o-Flex.less');
@import url('_o-Grid.less');
@import url('_c-Permalink.less');
@import url('_h-Block.less');
@import url('_h-Inline.less');
@import url('_h-Clearfix.less');
@import url('_h-Hidden.less');
@import url('_-fz.less');
