
/*################################*\
    xmeter  |  _h-Clearfix.less
\*################################*/


// This helper can be used on **containers of floats** (not on floats themselves)
// in order to push subsequent content below the container.
// It can also be used to create a line break after, for example, an inline list item.
//
// ^author
// : Chris Harevy
// ^updated
// : 2017-02-09
.h-Clearfix {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

@media screen                       { .h-Clearfix-s  { .h-Clearfix; } }
@media print                        { .h-Clearfix-p  { .h-Clearfix; } }
@media screen and (min-width: 30em) { .h-Clearfix-sK { .h-Clearfix; } }
@media screen and (min-width: 45em) { .h-Clearfix-sM { .h-Clearfix; } }
@media screen and (min-width: 60em) { .h-Clearfix-sG { .h-Clearfix; } }
@media screen and (min-width: 75em) { .h-Clearfix-sT { .h-Clearfix; } }
@media screen and (min-width: 90em) { .h-Clearfix-sP { .h-Clearfix; } }
@media not all and (min-width: 30em) { .h-Clearfix-nsK { .h-Clearfix; } }
@media not all and (min-width: 45em) { .h-Clearfix-nsM { .h-Clearfix; } }
@media not all and (min-width: 60em) { .h-Clearfix-nsG { .h-Clearfix; } }
@media not all and (min-width: 75em) { .h-Clearfix-nsT { .h-Clearfix; } }
@media not all and (min-width: 90em) { .h-Clearfix-nsP { .h-Clearfix; } }
@media not all and (min-width: 30em) { .h-Clearfix-nK { .h-Clearfix; } }
@media not all and (min-width: 45em) { .h-Clearfix-nM { .h-Clearfix; } }
@media not all and (min-width: 60em) { .h-Clearfix-nG { .h-Clearfix; } }
@media not all and (min-width: 75em) { .h-Clearfix-nT { .h-Clearfix; } }
@media not all and (min-width: 90em) { .h-Clearfix-nP { .h-Clearfix; } }
